---
layout: default

---

<style>
  
	table.center {
	  border-collapse: collapse;
	  border: 2px solid #EDDEA5;
	  margin-left:auto; 
	  margin-right:auto;
	  
	}
	 
	th {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	td {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	  table.a {
	  table-layout: fixed;
	  width: 100%;  
	}



	.style1 {
		border: 2px solid #EDDEA5;
		text-align: left;
		font-size: small;
		font-family: "Book Antiqua";
	}

	.style21 {
	text-align: justify;
	text-justify: inter-word;
	font-size: small;
	font-family: "Book Antiqua";
	color: #255B7B;
}
 

	  
</style>
  
<p class="style8"></p>



<table class="center0" style="width: 700px">
  
<tr>
<td class="style14"> {{ page.FaunaFlore }} -- <strong>{{ page.phrygananbr }}</strong> -- 
<em>{{ page.Espece }}</em> {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} </td>
</tr>
</table>

<p class="style8"></p>
<p class="style8"></p>


  
<table class="center0" style="width: 800px">
  
<tr>
<td class="style12"></td>
</tr>
  
  

<tr>
  
<td class="style21" >

  
{% if page.Regnum %}
Règne: <strong>{{ page.Regnum }}</strong> 
{{ page.AuteurRegnum }}
  
{% endif %}
  
{% if page.SubRegnum %}
- - Sous-Règne: <strong>{{ page.SubRegnum }}</strong> 
{{ page.AuteurSubRegnum }}
  
{% endif %}
     
{% if page.Phylum %}
- - Phylum: <strong>{{ page.Phylum }}</strong> {{ page.AuteurPhylum }}
{% endif %}

{% if page.SuperClass %}
- - Super-Classe: <strong>{{ page.SuperClass }}</strong> {{ page.AuteurSuperClass }} 
{% endif %}
  
{% if page.Class %}
- - Classe: <strong>{{ page.Class }}</strong> {{ page.AuteurClass }} 
{% endif %}
  
{% if page.SubClass %}
- - Sous-Classe: <strong>{{ page.SubClass }}</strong> {{ page.AuteurSubClass }} 
{% endif %}

{% if page.SuperOrder %}
- - Super-Ordre: <strong>{{ page.SuperOrder }}</strong> {{ page.AuteurSuperOrder }} 
{% endif %} 


{% if page.Order %}
- - Ordre: <strong>{{ page.Order }}</strong> {{ page.AuteurOrder }}
{% endif %}


{% if page.SubOrder %}
- - Sous-Ordre: <strong>{{ page.SubOrder }}</strong>
{{ page.AuteurSubOrder }}

{% endif %}


{% if page.SuperFamilia %}
- - Super-Famille: <strong>{{ page.SuperFamilia }}</strong> {{ page.AuteurSuperFamilia }}
{% endif %}  


{% if page.Familia %}
- - Famille: <strong>{{ page.Familia }}</strong> {{ page.Auteurfamille }} 
{% endif %}   

{% if page.Tribe %}
- - Sous-famille: <strong>{{ page.Tribe }}</strong> {{ page.Auteurtribe }}
{% endif %} 

{% if page.Supertribu %}
- - Super-tribu: <strong>{{ page.Supertribu }}</strong> {{ page.AuteurSupertribu }}
{% endif %} 

{% if page.tribu %}
- - Tribu: <strong>{{ page.tribu }}</strong> {{ page.Auteurtribu }}
{% endif %} 

{% if page.Genre %}
- - Genre: <strong>{{ page.Genre }}</strong> {{ page.AUTEURgenre }}
{% endif %}

</td>

</tr>


<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>


{% if page.Synonyme %}
<tr>
<td class="style12"> <strong>syn.</strong>: {{ page.Synonyme }} </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %}

    
{% if page.nom-commun %}
<tr>
<td class="style12" ><strong>Nom(s) commun(s)</strong>: </td>
</tr>

<tr>
<td class="style21" >---   {{ page.nom-commun }}. </td>
</tr>{% endif %}

<tr>
<td class="style12"> </td>
</tr>

{% if page.remarque %}

<tr>
<td class="style12"> REM. - {{ page.remarque }} </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %} 
</table>

<table class="center0" style="width: 900px">

<tr>
<td class="style9">
<img src="{{ page.IMAGE0 }}" 
alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }} </span></em><span 
class="style9"> {{ page.lieu-date0 }}</span></td>
</tr>

</table>


<table class="center" class="style17" style="width: 800px">

<tr>
<td class="style12"> </td>
</tr>
    
{% if page.descr-espece %}
<tr>
<td class="style12" > <div><strong>Aspect général</strong>: {{ page.descr-espece }} </div></td>
</tr>

<tr>
<td class="style12"></td>
</tr>{% endif %}
    
{% if page.descr-feuilles %}
<tr>
<td class="style12" ><div><strong>Feuilles</strong>: {{ page.descr-feuilles }} </div> </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %}
    
{% if page.descr-fleurs %}
<tr>
<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
</tr>{% endif %}
    
<tr>
<td class="style12"> </td>
</tr>
{% if page.pollinisation %}
<tr>
<td class="style12"><div><strong>Pollinisation:</strong>  {{ page.pollinisation }} </div></td>
</tr>
>{% endif %}
    
<tr>
<td class="style12"> </td>
</tr>

{% if page.descr-fruit %}
<tr>
<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
</tr>{% endif %}

<tr>
<td class="style12"> </td>
</tr>

{% if page.biologie %}
<tr>
<td class="style12"><div><strong>Biologie:</strong>  {{ page.biologie }} </div></td>
</tr>

<tr>
<td class="style12" > </td>
</tr>{% endif %}

{% if page.dispersion %}
<tr>
<td class="style12" ><div><strong>Dispersion:</strong> {{ page.dispersion }}  </div> </td>    
</tr>

<tr>
<td class="style12"></td>
</tr>{% endif %}

{% if page.longevite %}
<tr>
<td class="style12" ><strong>Longévité:</strong> {{ page.longevite }} </td>
</tr>
<tr>
<td class="style12"></td>
</tr>{% endif %}

{% if page.descr-type %}
<tr>
<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %}

{% if page.Regime-alimentaire %}
<tr>
<td class="style12"><div><strong>Régime alimentaire:</strong>  {{ page.Regime-alimentaire }} </div></td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %}

{% if page.descr-hauteur %}
<tr>
<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>
</tr>{% endif %}

<tr>
<td class="style12"></td>
</tr>
{% if page.descr-floraison1 %}
<tr>
<td class="style12"><div><strong>Floraison:</strong>  {{ page.descr-floraison1 }} </div> </td>
</tr>

<tr>
<td class="style12"></td>
</tr>{% endif %}

{% if page.PeriodeACTIVE %}
<tr>
<td class="style12"><div><strong>Période d'activité des adultes</strong>: {{ page.PeriodeACTIVE }} </div> </td>
</tr>

<tr>
<td class="style12"></td>
</tr>{% endif %}


{% if page.Altitudes %}
<tr>
<td class="style12" ><strong>Altitudes</strong>: {{ page.Altitudes }} </td>
</tr>{% endif %}
    
<tr>
<td class="style12"> </td>
</tr>


{% if page.Biotopesgeneral %}
<tr>
<td class="style12" ><strong>Biotopes</strong>: {{ page.Biotopesgeneral }} </td>
</tr>{% endif %}
<tr>
<td class="style12"></td>
</tr>

{% if page.Indigenat %}
<tr>
<td class="style12"><strong>Indigénat:</strong> {{ page.Indigenat }}</td>
</tr>{% endif %}

{% if page.Origine %}
<tr>
<td class="style12"><strong>Aire d'origine:</strong> {{ page.Origine }}</td>
</tr>{% endif %}

{% if page.Distribution %}
<tr>
<td class="style12" ><strong>Aire de distribution:</strong> {{ page.Distribution }}</td>
</tr>{% endif %}

<tr>
<td class="style12"></td>
</tr> 
                 
{% if page.Note1 %}
<tr>
<td class="style12"><strong>Note(s):</strong></td>
</tr>
   
<tr>
<td class="style12">--- {{ page.Note1 }}</td>
</tr>{% endif %}

{% if page.Note2 %}
<tr>
<td class="style12"><div>--- {{ page.Note2 }} </div></td>
</tr>{% endif %}
       
{% if page.Note3 %}
<tr>
<td class="style12"><div>--- {{ page.Note3 }} </div></td>
</tr>{% endif %}

{% if page.Note4 %}
<tr>
<td class="style12"><div>--- {{ page.Note4 }} </div></td>
</tr>{% endif %}

{% if page.Note5 %}
<tr>
<td class="style12"><div>--- {{ page.Note5 }} </div></td>
</tr>{% endif %}

{% if page.OBSERVATION %}
<tr>
<td class="style12"><strong>Observation(s):</strong></td>
</tr>
    
<tr>
<td class="style12" ><div>--- {{ page.OBSERVATION }}  </div> </td>    
</tr>{% endif %}
   
{% if page.OBS1 %}
<tr>
<td class="style12" ><div>--- {{ page.OBS1 }}  </div> </td>    
</tr>{% endif %}

{% if page.OBS2 %}
<tr>
<td class="style12" ><div>--- {{ page.OBS2 }}  </div> </td>    
</tr>{% endif %}

{% if page.OBS3 %}
<tr>
<td class="style12" ><div>--- {{ page.OBS3 }}  </div> </td>    
</tr>{% endif %}

{% if page.OBS4 %}
<tr>
<td class="style12" ><div>--- {{ page.OBS4 }}  </div> </td>    
</tr>{% endif %}

{% if page.Menaces %}
<tr>
<td class="style12" ><div><strong>Menace(s)</strong>: {{ page.Menaces }}  </div> </td>    
</tr>{% endif %}

{% if page.Utilite %}
<tr>
<td class="style12"><strong>Usage(s), utilité(s):</strong></td>
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Utilite }}  </div> </td>    
</tr>{% endif %}

{% if page.Utilite1 %}
<tr>
<td class="style12" ><div> --- {{ page.Utilite1 }}  </div> </td>    
</tr>{% endif %} 

{% if page.medicinal %}
<tr>
<td class="style12"><strong>Plante médicinale:</strong></td>
</tr>

<tr>
<td class="style12" ><div>--- {{ page.medicinal }}  </div> </td>    
</tr>{% endif %}

{% if page.culinaire %}
<tr>
<td class="style12" ><div><strong>Intérêt(s) culinaire(s)</strong>: {{ page.culinaire }}  </div> </td>    
</tr>{% endif %}

{% if page.Nuisance %}
<tr>
<td class="style12"><strong>Nuisance(s):</strong></td>
</tr>

<tr>
<td class="style12" ><div> --- {{ page.Nuisance }} </div> </td>    
</tr>{% endif %}

<tr>
<td class="style12"></td>
</tr> 

{% if page.Listerouge %}
<tr>
<td class="style12" ><div><strong> Liste rouge </strong>: {{ page.Listerouge }}  </div> </td>    
</tr>{% endif %}

</table>

<tr>
<td class="style12" > </td>
</tr>

{% if page.Mine %}
<table class="center0" class="style17" style="width: 800px">

<tr>
<td class="style12" > </td>
</tr>


<tr>
<td class="style12" ><strong>Mine (description)</strong>: </td>
</tr>


<tr>
<td class="style21" > --- {{ page.Mine }}. </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

</table>{% endif %}


{% if page.Galle %}
<table class="center0" class="style17" style="width: 800px">

<tr>
<td class="style12" > </td>
</tr>


<tr>
<td class="style12" ><strong>Galle (description)</strong>: </td>
</tr>


<tr>
<td class="style21" > --- {{ page.Galle }}. </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

</table>{% endif %}




<p class="style8"></p>

{% if page.Spec-Flore%}
<table class="center0"  style="width: 800px">     
    
<tr>
<td class="style12" ><div><strong>Plante-hôte</strong>: <em>{{ page.Espece}}</em> 
est plante-hôte pour: </div> </td>    
</tr>


<tr>
<td class="style12" ><div>--- {{ page.Spec-Flore }}</div> </td>    
</tr>  {% endif %}



{% if page.Spec-Faune%}
<table class="center0"  style="width: 800px">     
    
<tr>
<td class="style12" ><div><strong>Plante(s)-hôte(s)</strong>: </div> </td>    
</tr>


<tr>
<td class="style12" ><div>--- {{ page.Spec-Faune }}</div> </td>    
</tr>  {% endif %}



{% if page.Spec-FauneFlore%}
<table class="center0"  style="width: 800px">     
    
<tr>
<td class="style12" ><div><strong>Espèces parasitées</strong>: </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-FauneFlore }}</div> </td>    
</tr>  {% endif %}



{% if page.Spec-Predateur %}
<table class="center0"  style="width: 800px">     
    
<tr>
<td class="style12" ><div><strong>Espèce(s) prédatrice(s)</strong>: </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-Predateur }}</div> </td>    
</tr>  {% endif %}


{% if page.Spec-Proies %}
<table class="center0"  style="width: 800px">     
    
<tr>
<td class="style12" ><div><strong>Espèce(s) attaquéé(s)</strong>: </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-Proies }}</div> </td>    
</tr>  {% endif %}





{% if page.SPECIES1 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES1 }}</div> </td>    
</tr> {% endif %}

{% if page.SPECIES2 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES2 }}</div> </td>    
</tr> {% endif %}

    
{% if page.SPECIES3 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES3 }}</div> </td>    
</tr> {% endif %}

{% if page.SPECIES4 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES4 }}</div> </td>    
</tr> {% endif %}

    
{% if page.SPECIES5 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES5 }}</div> </td>    
</tr> {% endif %}

{% if page.SPECIES6 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES6 }}</div> </td>    
</tr> {% endif %}

{% if page.SPECIES7 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES7 }}</div> </td>    
</tr> {% endif %}

{% if page.SPECIES8 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES8 }}</div> </td>    
</tr> {% endif %}

<tr>
<td class="style12" > </td>
</tr>

{% if page.SPECIES10 %}
<tr>
<td class="style12" ><div>--- {{ page.SPECIES10 }}</div> </td>    
</tr> {% endif %}


{% if page.espece-organes %}
	    
<tr>
<td class="style12" ><div><strong>Partie(s) consommée(s)-rongée(s) de la plante-hôte </strong>:</div> </td> 
</tr>

<tr>
<td class="style12" ><div>--- {{ page.espece-organes }}  </div> </td>    
</tr> 

{% if page.espece-organes1 %}
<tr>
<td class="style12" ><div>--- {{ page.espece-organes1 }}  </div> </td>    
</tr> {% endif %}
  

<tr>
<td class="style12" > </td>
</tr>  

</table> {% endif %}

{{ planteshotes }}


{% if page.Spec-Parasites %}
<table class="center0"  style="width: 800px">     

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
<td class="style12" ><div><strong>Espèce(s) parasite(s) - hémiparasite(s)</strong> </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-Parasites }}</div> </td>    
</tr>  

	
<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

</table> {% endif %}

{{ Parasites }}



{% if page.Spec-Predateurs %}
<table class="center0"  style="width: 800px">     

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
<td class="style12" ><div><strong>Espèce(s) prédatrice(s)</strong> </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-Predateurs }}</div> </td>    
</tr>  


<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

</table> {% endif %}

{{ Predateurs }}

{% if page.Spec-Butinage %}
<table class="center0"  style="width: 800px">     

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
<td class="style12" ><div><strong>{{ page.Espece}}</strong> est butiné par de nombreux insectes dont: </div> </td>    
</tr>

<tr>
<td class="style12" ><div>--- {{ page.Spec-Butinage }}</div> </td>    
</tr>  

	
<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

</table> {% endif %}

{{ Butinage }}


{{ content }}


<table class="center0" style="width: 900px">


	
{% if page.IMAGE1  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE1 }}" alt="{{ page.Espece}} {{ page.Auteurespece }}{{ page.variete }} {{ page.Auteurvariete }} "
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date1 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE2  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE2 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} "
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date2 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE3 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE3 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date3 }}</span></td>
</tr>{% endif %}
    

{% if page.IMAGE4 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE4 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} "
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date4 }}</span></td>
</tr>{% endif %}
 
{% if page.IMAGE5 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE5 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date5 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE6 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE6 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date6 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE7  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE7 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date7 }}</span></td>
</tr>{% endif %}

{% if page.lieu-date8 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE8 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>


<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date8 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE9  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE9 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date9 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE10  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE10 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date10 }}</span></td>
</tr>{% endif %}


{% if page.IMAGE11  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE11 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date11 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE12  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE12 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date12 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE13  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE13 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date13 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE14 %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE14 }}" 
alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>


<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date14 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE15  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE15 }}" 
alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date15 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE16  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE16 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date16 }}</span></td>
</tr>{% endif %}


{% if page.IMAGE17  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE17 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date17 }}</span></td>
</tr>{% endif %}
  
{% if page.IMAGE18  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE18 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date18 }}</span></td>
</tr>{% endif %}
  
  
{% if page.IMAGE19  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE19 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date19 }}</span></td>
</tr>{% endif %}
  
{% if page.IMAGE20  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE20 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date20 }}</span></td>
</tr>{% endif %}

  
{% if page.IMAGE21  %}
<tr>
<td class="style9" >
<img  class="center" src="{{ page.IMAGE21 }}" alt="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.Espece}} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
</tr>

<tr>
<td class="style9"><em><span class="style9">{{ page.Espece}} {{ page.variete }}</span></em><span 
class="style9"> {{ page.lieu-date21 }}</span></td>
</tr>{% endif %}


</table>



<table class="center0" style="width: 880px">
	<tr>
		<td class="style5">mise à jour le {{ page.datemaj }}</td>
	</tr>
</table>

