---
layout: default

---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
    <td class="style14"> <strong>Flore - {{ page.phrygananbr }}</strong> 
      -- <em>{{ page.ESPECE }}</em> {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} </td>
	</tr>
</table>


<p class="style8"></p>

{% if page.Class %}
<table align="center" class="style17" style="width: 800px">

	<tr>
		
    <td class="style12" style="">Class: {{ page.Class }} - 
      - Order: {{ page.Order }} - 
      - Famille: {{ page.FAMILLE }} {{ page.Auteurfamille }} 

      {% if page.Tribe %}
      -- Sous-famille: {{ page.Tribe }} 
      {% endif %}
      -- Genre: {{ page.Genre }} {{ page.AUTEURgenre }}</td>

</tr>

     <tr>
		<td class="style12"> </td>
	</tr>

    {% if page.Synonyme %}
    <tr>
		<td class="style12"> syn.: {{ page.Synonyme }} </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
    
	

    <tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.nom-commun %}
    <tr>
		<td class="style12" ><strong>Nom(s) commun(s)</strong>: </td>
	</tr>
    <tr>
		<td class="style12" >---   {{ page.nom-commun }}. </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"> </td>


	</tr>

    

</table>{% endif %}


<table align="center" style="width: 800px">
	<tr>
        <td class="style9">
		<img src="{{ page.IMAGE0 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
            title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }} </span></em><span 
            class="style9"> {{ page.lieu-date0 }}</span></td>
	</tr>
</table>



<table align="center" class="style17" style="width: 800px">


{% if page.remarque %}
    <tr>
		<td class="style12"></td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    	
    
    <tr>
		<td class="style12"> REM. - {{ page.remarque }} </td>
	</tr>
	<tr>
		<td class="style12"> - - - - - - - - - -</td>
	</tr>
	
    <tr>
		<td class="style12"> </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
	
    
    
    {% if page.descr-espece %}
	<tr>
		<td class="style12" > <div><strong>Aspect général</strong>: {{ page.descr-espece }} </div></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>{% endif %}
    

    {% if page.descr-feuilles %}
    <tr>
		<td class="style12" ><div><strong>Feuilles</strong>: {{ page.descr-feuilles }} </div> </td>
	</tr>

	<tr>
		<td class="style12"> </td>
	</tr>{% endif %}
    
    {% if page.descr-fleurs %}
	<tr>
		<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
	</tr>{% endif %}
    
	<tr>
		<td class="style12"> </td>
	</tr>
     {% if page.pollinisation %}
	<tr>
		<td class="style12"><div><strong>Pollinisation:</strong>  {{ page.pollinisation }} </div></td>
	</tr>
    <tr>
		<td class="style12"></td>
	</tr>{% endif %}
    
	<tr>
		<td class="style12"> </td>
	</tr>

    {% if page.descr-fruit %}
    <tr>
		<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
	</tr>{% endif %}

    
	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.dispersion %}
    <tr>
		<td class="style12" ><div><strong>Dispersion:</strong> {{ page.dispersion }}  </div> </td>    
    </tr>

    <tr>
		<td class="style12"></td>
	</tr>{% endif %}

    {% if page.longevite %}
	<tr>
		<td class="style12" ><strong>Longévité:</strong> {{ page.longevite }} </td>
	</tr>
    <tr>
		<td class="style12"></td>
	</tr>{% endif %}

    {% if page.descr-type %}
	<tr>
		<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td>
	</tr>{% endif %}
    
	<tr>
		<td class="style12"> </td>
	</tr>
    {% if page.descr-hauteur %}
	<tr>
		<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.descr-floraisonCrete %}
    <tr>
		<td class="style12"><div><strong>Floraison en Crète:</strong>  {{ page.descr-floraisonCrete }} </div> </td>
	</tr>{% endif %}

    {% if page.descr-floraison1 %}
    <tr>
		<td class="style12"><div><strong>Floraison (hors Crète):</strong>  {{ page.descr-floraison1 }} </div> </td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
    

         
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.IndigenatCrete %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.IndigenatCrete }} </td>
	</tr>{% endif %}

    {% if page.IndigenatBelgium %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.IndigenatBelgium }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes</strong>: {{ page.Altitudes }} </td>
	</tr>{% endif %}
    
	<tr>
		<td class="style12"> </td>
	</tr>
    
	<tr>
		<td class="style12"> </td>
	</tr>
    {% if page.BiotopesCrete %}
	<tr>
		<td class="style12" ><div><strong>Biotopes en Crète</strong>: {{ page.BiotopesCrete }} </div></td>
	</tr>{% endif %}

     {% if page.Biotopesgeneral %}
	<tr>
		<td class="style12" ><strong>Biotopes hors Crète</strong>: {{ page.Biotopesgeneral }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>
  
    {% if page.Origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.Origine }}</td>
	</tr>{% endif %}

    {% if page.Distribution %}
	<tr>
		<td class="style12" ><strong>Aire de distribution:</strong> {{ page.Distribution }}</td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
         <tr>
		<td class="style12"></td>
	</tr> 
                  
    {% if page.Note1 %}
    
    
    <tr>
		<td class="style12"><strong>Note(s):</strong></td>
	</tr>
     <tr>
		<td class="style12"></td>
	</tr>
    
    <tr>
		<td class="style12">--- {{ page.Note1 }}</td>
	</tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>
              
    {% if page.Note2 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note2 }} </div></td>
	</tr>{% endif %}
       <tr>
		<td class="style12"></td>
	</tr>        
    {% if page.Note3 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note3 }} </div></td>

	</tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>
  {% if page.Note4 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note4 }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.Note5 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note5 }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBSERVATION %}
    <tr>
		<td class="style12"><strong>Observation(s):</strong></td>
	</tr>

    
    <tr>
		<td class="style12" ><div>--- {{ page.OBSERVATION }}  </div> </td>    
    </tr>{% endif %}
    

    {% if page.OBS1 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS1 }}  </div> </td>    
    </tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBS2 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS2 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.OBS3 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS3 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.OBS4 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS4 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
  
    
	<tr>
		<td class="style12"></td>
	</tr>

 

    {% if page.Menaces %}
    <tr>
		<td class="style12" ><div><strong>Menace(s)</strong>: {{ page.Menaces }}  </div> </td>    
    </tr>{% endif %}
  	<tr>
      <td class="style12"></td>
    </tr>


    {% if page.Utilite %}
    <tr>
		<td class="style12"><strong>Usage(s), utilité(s):</strong></td>
	</tr>

    

	</tr>
     
    <tr>
		<td class="style12" ><div>--- {{ page.Utilite }}  </div> </td>    
    </tr>{% endif %}

     {% if page.Utilite1 %}
    <tr>
		<td class="style12" ><div> --- {{ page.Utilite1 }}  </div> </td>    
    </tr>{% endif %} 

    <tr>
		<td class="style12"></td>
	</tr>

  

  {% if page.medicinal %}
  <tr>
  <td class="style12" ><div><strong>Plante médicinale</strong>: {{ page.medicinal }}  </div> </td>    
  </tr>{% endif %}
  <tr>
    <td class="style12"></td>
  </tr>

  {% if page.culinaire %}
  <tr>
  <td class="style12" ><div><strong>Intérêt(s) culinaire(s)</strong>: {{ page.culinaire }}  </div> </td>    
  </tr>{% endif %}
  <tr>
    <td class="style12"></td>
  </tr>


    {% if page.Nuisance %}
    <tr>
		<td class="style12" ><div><strong>Nuisance</strong>: --- {{ page.Nuisance }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>


        
	<tr>
		<td class="style12"></td>
	</tr>

    

    {% if page.Listerouge %}
    <tr>
		<td class="style12" ><div><strong> Liste rouge </strong>: {{ page.Listerouge }}  </div> </td>    
    </tr>{% endif %}
         
    <tr>
		<td class="style12"></td>
 </tr>



	</table>

  {% if page.Butinage %}
	<table align="center"  style="width: 800px">     
    
	<tr>
		<td class="style12" > </td>
	</tr>
       
    <tr>
    <td class="style12" ><div><strong>Butinage</strong>: <em>{{ page.ESPECE }}</em> est butinée 
    par de nombreux insectes dont: </div> </td>    
    </tr>
 
    <tr>
		<td class="style12" ><div>{{ page.Butinage }}    </div> </td>    
    </tr>  

   {% if page.Butinage1 %}
    <tr>
		<td class="style12" ><div>{{ page.Butinage1 }}  </div> </td>    
    </tr> {% endif %}

    {% if page.page.Butinage2 %}
    <tr>
		<td class="style12" ><div>{{ page.Butinage2 }}  </div> </td>    
    </tr> {% endif %}
    <tr>
		<td class="style12" > </td>
	</tr>

</table> {% endif %}


<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
      
      {% if page.species1  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.speciesa }} ">
  <img src="{{ page.imgspeciesa }}" alt="{{ page.SPECIES-especea }}" title="{{ page.SPECIES-especea }}" ></a> 
      </td>{% endif %}
      
     
      {% if page.species2  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.speciesb }} ">
  <img src="{{ page.imgspeciesb }}" alt="{{ page.SPECIES-especeb }}" title="{{ page.SPECIES-especeb }}" ></a> 
      </td>{% endif %}
      
      {% if page.species3  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.speciesc }} ">
  <img src="{{ page.imgspeciesc }}" alt="{{ page.SPECIES-especec }}" title="{{ page.SPECIES-especec }}" ></a> 
      </td>{% endif %}
      

      </tr>

      <tr>
       {% if page.speciesa %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.speciesa }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnoma }} </em></span></em>
       </td>{% endif %}

        {% if page.speciesb %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.speciesb }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnomb }} </em></span></em>
       </td>{% endif %}
      
        {% if page.speciesc %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.speciesc }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnomc }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>




<p class="style8"></p>

{% if page.SPECIES %}
	<table align="center"  style="width: 800px">     
    
	<tr>
		<td class="style12" > </td>
	</tr>
       
    <tr>
		<td class="style12" ><div><strong>Plante-hôte</strong>: <em>{{ page.ESPECE }}</em> est plante-hôte pour: </div> </td>    
    </tr>{% endif %}
 
    <tr>
		<td class="style12" ><div>{{ page.SPECIES }}    </div> </td>    
    </tr>  

   {% if page.SPECIES1 %}
    <tr>
		<td class="style12" ><div>{{ page.SPECIES1 }}  </div> </td>    
    </tr> {% endif %}

    {% if page.SPECIES2 %}
    <tr>
		<td class="style12" ><div>{{ page.SPECIES2 }}  </div> </td>    
    </tr> {% endif %}

    
    {% if page.SPECIES3 %}
    <tr>
		<td class="style12" ><div>{{ page.SPECIES3 }}  </div> </td>    
    </tr> {% endif %}


    {% if page.SPECIES4 %}
    <tr>
		<td class="style12" ><div>{{ page.SPECIES4 }}  </div> </td>    
    </tr> {% endif %}

    <tr>
		<td class="style12" > </td>
	</tr>
 



        {% if page.espece-organes %}
	    
    <tr>
		<td class="style12" ><div><strong>Partie(s) attaquée(s) de la plante-hôte </strong>:   </div> </td> 
	</tr>

   
    <tr>
		<td class="style12" ><div>--- {{ page.espece-organes }}  </div> </td>    
    </tr> 



	{% if page.espece-organes1 %}
    <tr>
		<td class="style12" ><div>--- {{ page.espece-organes1 }}  </div> </td>    
    </tr> {% endif %}

    
    <tr>
		<td class="style12" > </td>
	</tr>   
</table> {% endif %}


{% if page.SPECIES10 %}
	<table align="center"  style="width: 800px">     
    
	<tr>
		<td class="style12" > </td>
	</tr>
       
    <tr>
    <td class="style12" ><div><strong>Problème de cultures</strong>:  </div> </td>    
    </tr>
 
    <tr>
		<td class="style12" ><div>{{ page.SPECIES10 }}    </div> </td>    
    </tr>  

   {% if page.SPECIES11 %}
    <tr>
		<td class="style12" ><div>{{ page.SPECIES11 }}  </div> </td>    
    </tr> {% endif %}

   


    <tr>
      <td class="style12" > </td>
    </tr>   
  </table> {% endif %}


{% if page.species1  %}
<table class="center0"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
        
        
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species1 }} ">
		<img src="{{ page.imgspecies1 }}" alt="{{ page.SPECIES-espece1 }}" title="{{ page.SPECIES-espece1 }}" ></a> 
        </td>
        
       
        {% if page.species2  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species2 }} ">
		<img src="{{ page.imgspecies2 }}" alt="{{ page.SPECIES-espece2 }}" title="{{ page.SPECIES-espece2 }}" ></a> 
        </td>{% endif %}
        
        {% if page.species3  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species3 }} ">
		<img src="{{ page.imgspecies3 }}" alt="{{ page.SPECIES-espece3 }}" title="{{ page.SPECIES-espece3 }}" ></a> 
        </td>{% endif %}
        

        </tr>

        <tr>
         {% if page.species1 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species1 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom1 }} </em></span></em>
         </td>{% endif %}

          {% if page.species2 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species2 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom2 }} </em></span></em>
         </td>{% endif %}
        
          {% if page.species3 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species3 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom3 }} </em></span></em>
         </td>{% endif %}
        </tr>
 <tr>
		<td class="style12" > </td>
	</tr>

	</table>{% endif %}



  {% if page.species4  %} 
<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
        
       
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species4 }} ">
    <img src="{{ page.imgspecies4 }}" alt="{{ page.SPECIES-espece4 }}" 
    title="{{ page.SPECIES-espece4 }}" ></a> 
        </td>
        
       
        {% if page.species5  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species5 }} ">
		<img src="{{ page.imgspecies5 }}" alt="{{ page.SPECIES-espece5 }}" title="{{ page.SPECIES-espece5 }}" ></a> 
        </td>{% endif %}
        
        {% if page.species6  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species6 }} ">
		<img src="{{ page.imgspecies6 }}" alt="{{ page.SPECIES-espece6 }}" title="{{ page.SPECIES-espece6 }}" ></a> 
        </td>{% endif %}
        

        </tr>

        <tr>
         {% if page.species4 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species4 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom4 }} </em></span></em>
         </td>{% endif %}

          {% if page.species5 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species5 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom5 }} </em></span></em>
         </td>{% endif %}
        
          {% if page.species6 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species6 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom6 }} </em></span></em>
         </td>{% endif %}
        </tr>
 <tr>
		<td class="style12" > </td>
	</tr>

	</table>{% endif %}

 

<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
        
        {% if page.species7  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species7 }} ">
		<img src="{{ page.imgspecies7 }}" alt="{{ page.SPECIES-espece7 }}" title="{{ page.SPECIES-espece7 }}" ></a> 
        </td>{% endif %}
        
       
        {% if page.species8  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species8 }} ">
		<img src="{{ page.imgspecies8 }}" alt="{{ page.SPECIES-espece8 }}" title="{{ page.SPECIES-espece8 }}" ></a> 
        </td>{% endif %}
        
        {% if page.species9  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species9 }} ">
		<img src="{{ page.imgspecies9 }}" alt="{{ page.SPECIES-espece9 }}" title="{{ page.SPECIES-espece9 }}" ></a> 
        </td>{% endif %}
        

        </tr>

        <tr>
         {% if page.species7 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species7 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom7 }} </em></span></em>
         </td>{% endif %}

          {% if page.species8 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species8 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom8 }} </em></span></em>
         </td>{% endif %}
        
          {% if page.species9 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species9 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom9 }} </em></span></em>
         </td>{% endif %}
        </tr>
 <tr>
		<td class="style12" > </td>
	</tr>

	</table>

       

<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
        
        {% if page.species10  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species10 }} ">
    <img src="{{ page.imgspecies10 }}" alt="{{ page.SPECIES-espece10 }}" 
    title="{{ page.SPECIES-espece10 }}" ></a> 
        </td>{% endif %}
        
       
        {% if page.species11  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species11 }} ">
		<img src="{{ page.imgspecies11 }}" alt="{{ page.SPECIES-espece11 }}" title="{{ page.SPECIES-espece11 }}" ></a> 
        </td>{% endif %}
        
        {% if page.species12  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.species12 }} ">
		<img src="{{ page.imgspecies12 }}" alt="{{ page.SPECIES-espece12 }}" title="{{ page.SPECIES-espece12 }}" ></a> 
        </td>{% endif %}
        

        </tr>

        <tr>
         {% if page.species10 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species10 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom10 }} </em></span></em>
         </td>{% endif %}

          {% if page.species11 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species11 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom11 }} </em></span></em>
         </td>{% endif %}
        
          {% if page.species12 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.species12 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.SPECIESnom12 }} </em></span></em>
         </td>{% endif %}
        </tr>
 <tr>
		<td class="style12" > </td>
	</tr>

	</table>

        
{% if page.species13  %}
<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
      
       
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species13 }} ">
  <img src="{{ page.imgspecies13 }}" alt="{{ page.SPECIES-espece13 }}" 
  title="{{ page.SPECIES-espece13 }}" ></a> 
      </td>
      
    
     
      {% if page.species14  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species14 }} ">
  <img src="{{ page.imgspecies14 }}" alt="{{ page.SPECIES-espece14 }}" 
  title="{{ page.SPECIES-espece14 }}" ></a> 
      </td>{% endif %}
      
      {% if page.species15  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species15 }} ">
  <img src="{{ page.imgspecies15 }}" alt="{{ page.SPECIES-espece15 }}" 
  title="{{ page.SPECIES-espece15 }}" ></a> 
      </td>{% endif %}
      

      </tr>

      <tr>
       {% if page.species13 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species13 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom13 }} </em></span></em>
       </td>{% endif %}

        {% if page.species14 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species14 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom14 }} </em></span></em>
       </td>{% endif %}
      
        {% if page.species15 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species15 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom15 }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>{% endif %}

     
{% if page.species16  %}
<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
      
       
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species16 }} ">
  <img src="{{ page.imgspecies16 }}" alt="{{ page.SPECIES-espece16 }}" 
  title="{{ page.SPECIES-espece16 }}" ></a> 
      </td>
      
    
     
      {% if page.species17  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species17 }} ">
  <img src="{{ page.imgspecies17 }}" alt="{{ page.SPECIES-espece17 }}" 
  title="{{ page.SPECIES-espece17 }}" ></a> 
      </td>{% endif %}
      
      {% if page.species18  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species18 }} ">
  <img src="{{ page.imgspecies18 }}" alt="{{ page.SPECIES-espece18 }}" 
  title="{{ page.SPECIES-espece18 }}" ></a> 
      </td>{% endif %}
      

      </tr>

      <tr>
       {% if page.species16 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species16 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom16 }} </em></span></em>
       </td>{% endif %}

        {% if page.species17 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species17 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom17 }} </em></span></em>
       </td>{% endif %}
      
        {% if page.species18 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species18 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom18 }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>{% endif %}


     
{% if page.species19  %}
<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
   
       
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species19 }} ">
  <img src="{{ page.imgspecies19 }}" alt="{{ page.SPECIES-espece19 }}" 
  title="{{ page.SPECIES-espece19 }}" ></a> 
      </td>
      
    
     
      {% if page.species20 %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species20 }} ">
  <img src="{{ page.imgspecies20 }}" alt="{{ page.SPECIES-espece20 }}" 
  title="{{ page.SPECIES-espece20 }}" ></a> 
      </td>{% endif %}
      
      {% if page.species21  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species21 }} ">
  <img src="{{ page.imgspecies21 }}" alt="{{ page.SPECIES-espece21 }}" 
  title="{{ page.SPECIES-espece21 }}" ></a> 
      </td>{% endif %}
      

      </tr>

      <tr>
       {% if page.species19 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species19 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom19 }} </em></span></em>
       </td>{% endif %}

        {% if page.species20 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species20 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom20 }} </em></span></em>
       </td>{% endif %}
      
        {% if page.species21 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species21 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom21 }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>{% endif %}


     
{% if page.species22  %}
<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
   
       
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species22 }} ">
  <img src="{{ page.imgspecies22 }}" alt="{{ page.SPECIES-espece22 }}" 
  title="{{ page.SPECIES-espece22 }}" ></a> 
      </td>
      
    
     
      {% if page.species23 %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species23 }} ">
  <img src="{{ page.imgspecies23 }}" alt="{{ page.SPECIES-espece23 }}" 
  title="{{ page.SPECIES-espece23 }}" ></a> 
      </td>{% endif %}
      
      {% if page.species24  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species24 }} ">
  <img src="{{ page.imgspecies24 }}" alt="{{ page.SPECIES-espece24 }}" 
  title="{{ page.SPECIES-espece24 }}" ></a> 
      </td>{% endif %}
      

      </tr>

      <tr>
       {% if page.species22 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species22 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom22 }} </em></span></em>
       </td>{% endif %}

        {% if page.species23 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species23 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom23 }} </em></span></em>
       </td>{% endif %}
      
        {% if page.species24 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species24 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom24 }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>{% endif %}


     
{% if page.species25  %}
<table class="center0"  style="width: 800px">     
    
  <tr>
  <td class="style12"></td>
  </tr>
  <tr>
   
       
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species25 }} ">
  <img src="{{ page.imgspecies25 }}" alt="{{ page.SPECIES-espece25 }}" 
  title="{{ page.SPECIES-espece25 }}" ></a> 
      </td>
      
    
     
      {% if page.species26 %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species26 }} ">
  <img src="{{ page.imgspecies26 }}" alt="{{ page.SPECIES-espece26 }}" 
  title="{{ page.SPECIES-espece26 }}" ></a> 
      </td>{% endif %}
      
      {% if page.species27  %} 
  <td class="style7" style="width: 240px">
  <a href=" {{ page.species27 }} ">
  <img src="{{ page.imgspecies27 }}" alt="{{ page.SPECIES-espece27 }}" 
  title="{{ page.SPECIES-espece27 }}" ></a> 
      </td>{% endif %}
      
    

      </tr>

      <tr>
       {% if page.species25 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species25 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom25 }} </em></span></em>
       </td>{% endif %}

        {% if page.species26 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species26 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom26 }} </em></span></em>
       </td>{% endif %}
      
        {% if page.species27 %}
       <td class="style7" style="width: 240px">
       <a  href=" {{ page.species27 }} " style="text-decoration:none">
       <em><span class="style7"><em> {{ page.SPECIESnom27 }} </em></span></em>
       </td>{% endif %}
      </tr>
<tr>
  <td class="style12" > </td>
</tr>

</table>{% endif %}



<p class="style8"></p>





{{ content }}




	<table align="center" style="width: 800px">
	
    {% if page.IMAGE1  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE1 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}{{ page.variete }} {{ page.Auteurvariete }} "
            title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date1 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date1 }}</span></td>
	</tr>{% endif %}







    {% if page.IMAGE2  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE2 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} "
            title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date2 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
         

{% if page.IMAGE3 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE3 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " 
            title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>


    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}
    
 
   {% if page.IMAGE4 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE4 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} "
            title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date4 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
     
 
 

    {% if page.IMAGE5 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE5 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.IMAGE6 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE6 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}


 {% if page.IMAGE7  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE7 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date7 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date7 }}</span></td>
	</tr>{% endif %}

{% if page.IMAGE8  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE8 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date8 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date8 }}</span></td>
	</tr>{% endif %}

{% if page.IMAGE9  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE9 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date9 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date9 }}</span></td>
	</tr>{% endif %}

  {% if page.IMAGE10  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE10 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date10 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date10 }}</span></td>
	</tr>{% endif %}


  {% if page.IMAGE11  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE11 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date11 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date11 }}</span></td>
	</tr>{% endif %}



  {% if page.IMAGE12  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE12 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date12 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date12 }}</span></td>
	</tr>{% endif %}


  {% if page.IMAGE13  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE13 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date13 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date13 }}</span></td>
	</tr>{% endif %}


  {% if page.IMAGE14  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.IMAGE14 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " title="{{ page.ESPECE }} {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} " > </td>
    </tr>{% endif %}

 {% if page.lieu-date14 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }} {{ page.variete }}</span></em><span 
            class="style9"> {{ page.lieu-date14 }}</span></td>
	</tr>{% endif %}



</table>



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
