---
layout: default
title: " "
---
<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.FLOREfamille }}</td>
	</tr>
</table>

<table align="center" class="style17" style="width: 800px">
	<tr>
		<td class="style13"><em> {{ page.fami-feuille }} </em></td>
	</tr>
	<tr>
		<td class="style13"><em> {{ page.fami-fleur }} </em></td>
	</tr>
	<tr>
		<td class="style13"><em> {{ page.fami-fruit}} </em></td>
	</tr>
	<tr>
		<td class="style12"></td>
	</tr>
	<tr>
		<td class="style12"> {{page.fami-nbrespece }} </td>
	</tr>
	<tr>
		<td class="style12"> {{ page.fami-Crete }} </td>
	</tr>
</table>

<p class="style8">&nbsp;</p>


<table align="center"  style="width: 960px">
	<tr>
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece1 }} ">
		<img height= "{{ page.img-height1 }}" src="{{ page.floreimg1 }}" alt="{{ page.FLOREspecies1 }}" title="{{ page.FLOREspecies1 }}" width="{{ page.img-width1 }}"></a> </td>
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece2 }}">
		<img height= "{{ page.img-height2 }}" src="{{ page.floreimg2 }}" alt="{{ page.FLOREspecies2 }}" title="{{ page.FLOREspecies2 }}" width="{{ page.img-width2 }}"></a> </td>
		
        <td class="style7" style="width: 240px"></td>
		
        <td class="style7" style="width: 240px">&nbsp;</td>
		
	</tr>
	<tr>
		<td class="auto-style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece1 }}" style="text-decoration:none"> 
		<em> {{ page.floreespece1 }} </strong></em></a></td>
		<td class="style7" style="width: 240px">
		<strong><em>
		<a class="style7" href="{{ page.HREF-espece2 }}" style="text-decoration:none"> {{ page.floreespece2 }}</a></em></strong></td>
		<td class="style7"  style="width: 240px"></td>
		<td class="style7" style="width: 240px"></td>
		
	</tr>
</table>



{{ content }}

<table align="center" style="width: 1000px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
