---
layout: default

---
<p class="style8"></p>

{% if page.Famille-cle %}
    <table align="center" style="width: 800px">
	<tr>
		<td class="style14"> Les {{ page.Famille-cle }} de Crète (principalement), mais aussi parfois d'ailleurs</td>
	</tr>
    </table>{% endif %}



<p class="style8"></p>
<p class="style8"></p>

{% if page.fami-key1a %}
<table align="center"  class="style15" style="width: 800px">
	
    <tr>
     <td class="style12"><div></div></td>
	</tr> 
    <tr>
     <td class="style12"><div></div></td>
	</tr> 
    <tr>
		<td class="style12"></td>
    </tr>

    <tr>
     <td class="style12"><div style="text-align: center">Les <a href='{{page.Famille }}.html'  <strong>
         {{ page.Famille }}</strong></a>: clé des genres illustrés. </div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>

    <tr>
     {% if page.fami-key1a %}
	<td class="style12"><div>1a. {{ page.fami-key1a }}  </div></td>

	</tr>{% endif %}
    
    <tr>
     {% if page.fami-genre-1 %}
	<td class="style12"><div style="text-align: right;"> {{ page.fami-genre-1 }}</div></td>

	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

	<tr>
     {% if page.fami-key1b %}
		<td class="style12"><div>1b. {{ page.fami-key1b }}</div></td>
	</tr>{% endif %}
    
    <tr>
     {% if page.fami-genre-2 %}
	<td class="style12"><div style="text-align: right;">{{ page.fami-genre-2 }}</div></td>

	</tr>{% endif %}

    <tr>
     <td class="style12"><div></div></td>
	</tr>
    <tr>
		<td class="style12"></td>
    </tr>

	<tr>
		{% if page.fami-key2a %}
		<td class="style12"><div>2a. {{ page.fami-key2a }}</div></td>
	</tr>{% endif %}

    <tr>
     {% if page.fami-genre-3 %}
	<td class="style12"><div style="text-align: right;"> {{ page.fami-genre-3 }}</div></td>

	</tr>{% endif %}


    <tr>
		{% if page.fami-key2b %}
		<td class="style12"><div>2b. {{ page.fami-key2b }}</div></td>
	</tr>{% endif %}
 
    <tr>
     {% if page.fami-genre-4 %}
	<td class="style12"><div style="text-align: right;"> {{ page.fami-genre-4 }}</div></td>

	</tr>{% endif %} 
   
    <tr>
     <td class="style12"><div></div></td>
	</tr>
    <tr>
     <td class="style12"><div></div></td>
	</tr>

    <tr>
		{% if page.fami-key3a %}
		<td class="style12"><div>3a. {{ page.fami-key3a }}</div></td>
	</tr>{% endif %}

    <tr>
     {% if page.fami-genre-5 %}
	<td class="style12"><div style="text-align: right;">{{ page.fami-genre-5 }}</div></td>

	</tr>{% endif %} 
   

    <tr>
		{% if page.fami-key3b %}
		<td class="style12"><div>3b. {{ page.fami-key3b }}</div></td>
	</tr>{% endif %}

    <tr>
     {% if page.fami-genre-6 %}
	<td class="style12"><div style="text-align: right;">{{ page.fami-genre-6 }}</div></td>

	</tr>{% endif %} 

    <tr>
     <td class="style12"><div></div></td>
	</tr>
    <tr>
     <td class="style12"><div></div></td>
	</tr>

    <tr>
		{% if page.fami-key4a %}
		<td class="style12"><div>4a. {{ page.fami-key4a }}</div></td>
	</tr>{% endif %}

    <tr>
     {% if page.fami-genre-7 %}
	<td class="style12"><div style="text-align: right;">{{ page.fami-genre-7 }}</div></td>

	</tr>{% endif %} 
   

    <tr>
		{% if page.fami-key4b %}
		<td class="style12"><div>4b. {{ page.fami-key4b }}</div></td>
	</tr>{% endif %}

    <tr>
     {% if page.fami-genre-8 %}
	<td class="style12"><div style="text-align: right;">{{ page.fami-genre-8 }}</div></td>

	</tr>{% endif %} 

    <tr>
     <td class="style12"><div></div></td>
	</tr>
    <tr>
     <td class="style12"><div></div></td>
	</tr>
    <tr>
     <td class="style12"><div></div></td>
	</tr>

    </table>{% endif %}



<p class="style8"></p>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->