---
layout: default

---

<p class="style8"></p>


{% if page.Titre %}
    <table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.Titre }}</td>
	</tr>
    </table>{% endif %}



<table align="center" class="style17" style="width: 800px">
	
    
		
	</tr>
    <tr>
		<td class="style12"></td>
	</tr>
  

    {% if page.REMARQUE %}

    <tr>
		<td class="style12"><div>REMARQUE: {{ page.REMARQUE }}</div></td>
   
		<td class="style12"></td>
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>    

	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-intro %}

    <tr>
		<td class="style12"><div> {{ page.fami-intro }}</div></td>
   
		<td class="style12"></td>
    </tr>
	</tr>{% endif %}

    
    <tr>
		<td class="style12"></td>
	</tr>    

	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-note %}

    <tr>
		<td class="style12"><div> !!- {{ page.fami-note }}</div></td>
   <td class="style12"></td></tr>

       <tr><td class="style12"></td>
		<td class="style12"></td>
    </tr>{% endif %}
    

    {% if page.fami-note1 %}

    <tr>
		<td class="style12"><div><em>{{ page.fami-note1 }}</em></div></td>
   
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.fami-note2 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note2 }}</em> </div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.fami-note3 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note3 }}</em></div></td>
	</tr>
    

    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.fami-note4 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note4 }}</em></div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.fami-note5 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note5 }}</em></div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.fami-note6 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note6 }}</em></div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.fami-note7 %}
    <tr>
		<td class="style12"><div><em>{{ page.fami-note7 }}</em></div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

 <tr>
		<td class="style12"></td>
	</tr>


{% if page.fami-note8 %}
     <tr>
		<td class="style12"></td>
	</tr>

     <tr>
		<td class="style12"></td>
	</tr>

        
    
    <tr>
		<td class="style12"><div>{{ page.fami-note8 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.fami-note9 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note9 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-note10 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note10 }}</div></td>
	</tr>

    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

     {% if page.fami-note11 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note11 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

 {% if page.fami-note12 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note12 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
   

    {% if page.fami-note13 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note13 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.fami-note14 %}
    <tr>
		<td class="style12"><div>{{ page.fami-note14 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.fami-note15 %}
    <tr>
		<td class="style12"><div> {{ page.fami-note15 }} </div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
     {% if page.nbrespeces: %}
    <tr>
		<td class="style12"><div>Les {{ page.Ordre-famille }} dans le monde: {{ page.nbrespeces: }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

	<tr>
		<td class="style12"></td>
	</tr>
    	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-Crete %}
	<tr>

		<td class="style12"><div>Selon <a href='http://www.eu-nomen.eu/portal' <strong>PESI</strong></a>, 
            le nombre d'espèces et sous-espèces répertoriées est pour:</div> </td>

	</tr>

	<tr>
		<td class="style12"></td>
	</tr>

    
	<tr>
		<td class="style12"><div>--- la Crète: {{ page.fami-Crete }} </div> </td>
	</tr>

    
    <tr>
		<td class="style12"><div>--- la Belgique: {{ page.fami-Belgique }} </div></td>
	</tr>
 
	<tr>
		<td class="style12"></td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>


    <tr>
		<td class="style12"><div>--- La classification suivie est, dans la mesure du possible, en accordance avec <a href='http://www.eu-nomen.eu/portal' <strong>PESI (2019)</strong></a>, (Pan-European Species directories Infrastructure). </div></td>
	</tr>
 
    <tr>
		<td class="style12"></td>
    </tr>

   
    <tr>
		<td class="style12"></td>
    </tr>

    <tr>
		<td class="style12"></td>
    </tr>

   
    <tr>
		<td class="style12"></td>
    </tr>

    
   

 <tr>
		<td class="style12"></td>
	</tr>
    

    <tr>
		<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
   <td class="style12"></td></tr>

       <tr><td class="style12"></td>
		<td class="style12"></td>
    </tr>
    
 {% if page.GENRES %}
    <tr>
		<td class="style12"><div>Dans le monde, les {{ page.Ordre-famille }}  comprennent {{ page.GENRES }} genre(s) dont:  </div></td>
	</tr>
    

    <tr>
		<td class="style12"></td>
    </tr>{% endif %}


    {% if page.genre1 %}
    


    <tr>
		<td class="style12"><div>--- {{ page.genre1 }}</div></td>
   
		<td class="style12"></td>
    </tr>{% endif %}


    {% if page.genre2 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre2 }} </div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    {% if page.genre3 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre3 }}</div></td>
	</tr>
    

    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.genre4 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre4 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.genre5 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre5 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    
    <tr>
		<td class="style12"></td>
    </tr>

    {% if page.genre6 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre6 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    
    <tr>
		<td class="style12"></td>
    </tr>

    {% if page.genre7 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre7 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}
    
    
    {% if page.genre8 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre8 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.genre9 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre9 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    
    {% if page.genre10 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre10 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.genre11 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre11 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    {% if page.genre12 %}
    <tr>
		<td class="style12"><div>--- {{ page.genre12 }}</div></td>
	</tr>
    
    <tr>
		<td class="style12"></td>
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

     <tr>
		<td class="style12"></td>

     <tr>
		<td class="style12"></td>
    </tr>

     <tr>
		<td class="style12"></td>
    </tr>

</table>



<p class="style8"></p>

{% if page.fami-tribe1  %}
<table align="center"  style="width: 800px">
	
      <tr>
     
		<td class="style11"> {{ page.fami-tribe1 }} </td>
        
    </tr>
    
     

    <tr>
     <td class="style12"><div></div></td>
	</tr>

    <tr>
		<td class="style12"></td>
    </tr>
</table>{% endif %} 

<table align="center"  style="width: 960px">     
   

 <tr>
		<td class="style12"></td>
    </tr> 
    <tr>
		<td class="style12"></td>
    </tr>
 <tr>
		<td class="style12"></td>
     </tr>


    
     <tr>
        
        {% if page.Famille1 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Famille1 }} ">
		<img src="{{ page.familleimg1 }}" alt="{{ page.FAMILLE-Espece1 }}" title="{{ page.FAMILLE-Espece1 }}"    ></a> 
        </td>{% endif %}
		
        {% if page.Famille2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Famille2 }}">
		<img src="{{ page.familleimg2 }}" alt="{{ page.FAMILLE-Espece2 }}" title="{{ page.FAMILLE-Espece2 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille3 }}">
		<img  src="{{ page.familleimg3 }}" alt="{{ page.FAMILLE-Espece3 }}" title="{{ page.FAMILLE-Espece3 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille4  %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille4 }}">
		<img  src="{{ page.familleimg4 }}" alt="{{ page.FAMILLE-Espece4 }}" title="{{ page.FAMILLE-Espece4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Famille1 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille1 }}" style="text-decoration:none"> 
		 {{ page.famixx-1 }} </a></td>{% endif %}

        {% if page.Famille2 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille2 }}" style="text-decoration:none">
              {{ page.famixx-2 }} </a></td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille3 }}" style="text-decoration:none">
             {{ page.famixx-3}} </a></td>{% endif %}
        
        {% if page.Famille4 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille4 }}" style="text-decoration:none">
             {{ page.famixx-4 }} </a></td>{% endif %}
	</tr>
   
 </table>

<p class="style8"></p>




<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

