---

layout: default

--- 


<style>
  
	table.center {
	  border-collapse: collapse;
	  border: 2px solid #EDDEA5;
	  margin-left:auto; 
	  margin-right:auto;
	  
	}
	 
	th {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	td {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	  table.a {
	  table-layout: fixed;
	  width: 100%;  
	}
	  

	.style1 {
		border: 2px solid #EDDEA5;
		text-align: left;
		font-size: small;
		font-family: "Book Antiqua";
	}
	
	  
	
	  
	</style>

<p class="style8"></p>



{% if page.Familia %}
<table class="center0" style="width:700px">

	<tr>
	<td class="style14">{{ page.FaunaFlore }} -- les <strong>{{ page.Familia }}</strong> 
	de Crète et parfois aussi d'ailleurs.</td>
	</tr>
    
</table>{% endif %}
{% if page.fami-Familia %}

<table class="center0" style="width:700px">

	
{% if page.FaunaFlore %}
<tr>
<td class="style14">{{ page.FaunaFlore }} -- les <strong>{{ page.fami-Familia }}</strong> 
de Crète et parfois aussi d'ailleurs.</td>
</tr>{% endif %}

</table>{% endif %}

{% if page.fami-voyages %}
<table class="center0" style="width:700px">

<tr>
<td class="style14"> les <strong>{{ page.fami-voyages }}</strong>: à la rencontre de 
quelques animaux et de quelques plantes.</td>
</tr>
    
</table>{% endif %}

<p class="style8"></p>
<p class="style8"></p>




<table class="center0" style="width: 800px">

<tr>
	<td class="style12"></td>
</tr>


<tr>

<td class="style12" >

{% if page.Regnum %}
Règne: <strong>{{ page.Regnum }}</strong> 
{{ page.AuteurRegnum }}

{% endif %}


{% if page.Phylum %}
- - Phylum: <strong>{{ page.Phylum }}</strong> 
{{ page.AuteurPhylum }}

{% endif %}

{% if page.SuperClass %}
- - Super-Classe: <strong>{{ page.SuperClass }}</strong> 
{{ page.AuteurSuperClass }}

{% endif %}

{% if page.Class %}
- - Classe: <strong>{{ page.Class }}</strong> 
{{ page.AuteurClass }}

{% endif %}

{% if page.SubClass %}
- - Sous-Classe: <strong>{{ page.SubClass }}</strong> 
{{ page.AuteurSubClass }}

{% endif %}

{% if page.SuperOrder %}
- - Super-Ordre: <strong>{{ page.SuperOrder }}</strong> 
{{ page.AuteurSuperOrder }}

{% endif %}

{% if page.Order %}
- Ordre: <strong>{{ page.Order }}</strong> 
{{ page.AuteurOrder }} 
{% endif %} 



{% if page.SubOrder %}
- - Sous-Ordre: <strong>{{ page.SubOrder }}</strong>
{{ page.AuteurSubOrder }}

{% endif %}


{% if page.SuperFamilia %}
- - Super-Famille: <strong>{{ page.SuperFamilia }}</strong> 
{{ page.AuteurSuperFamilia }}

{% endif %} 

{% if page.Familia %}
- - Famille: <strong>{{ page.Familia }}</strong> 
{{ page.AuteurFamilia }}

{% endif %}   

</td>

<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>


{% if page.Synonyme %}
<tr>
<td class="style12"> <strong>syn.</strong>: {{ page.Synonyme }} </td>
</tr>

<tr>
<td class="style12"> </td>
</tr>{% endif %}
    
{% if page.nom-commun %}
<tr>
<td class="style12" ><strong>Nom(s) commun(s)</strong>: </td>
</tr>
<tr>
<td class="style12" >---   {{ page.nom-commun }}. </td>
</tr>{% endif %}

<tr>
<td class="style12"> </td>
</tr>

</tr>
{% if page.fami-note1 %}
<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>
	

{% if page.fami-intro %}

<tr>
	<td class="style12"><div> {{ page.fami-intro }}</div></td>

	<td class="style12"></td>

</tr>{% endif %}





<tr>
	<td class="style12"><div><em>{{ page.fami-note1 }}</em></div></td>

	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note2 %}
<tr>
	<td class="style12"><div><em>{{ page.fami-note2 }}</em> </div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note3 %}
<tr>
	<td class="style12"><div><em>{{ page.fami-note3 }}</em></div></td>
</tr>


<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note4 %}
<tr>
	<td class="style12"><div><em>{{ page.fami-note4 }}</em></div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note5 %}
<tr>
	<td class="style12"><div><em>{{ page.fami-note5 }}</em></div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note6 %}
<tr>
	<td class="style12"><div><em>{{ page.fami-note6 }}</em></div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}


{% if page.fami-note7 %}
<tr>
	<td class="style12"><div>{{ page.fami-note7 }}</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

<tr>
	<td class="style12"><div>- - - - - - - - - - - - - - - - - - - -</div></td>
</tr>


<tr>
	<td class="style12"></td>
</tr>

{% if page.Familia %}<tr>
	<td class="style12"><div>les <strong>{{ page.Familia }}</strong>:  </div> </td>
</tr>{% endif %}

<tr>
	<td class="style12"></td>
</tr>

{% if page.fami-Monde %}<tr>
	<td class="style12"><div>--- dans le Monde: {{ page.fami-Monde }} </div> </td>
</tr>{% endif %}

<tr>
	<td class="style12"></td>
</tr>


<tr>{% if page.fami-Crete %}

<td class="style12"><div>dont total des espèces mentionnées par 
<strong><a href='http://www.eu-nomen.eu/portal' >PESI (2021)</strong></a> pour: </div> </td>	

</tr>


{% if page.fami-Europe %}

<tr>
	<td class="style12"></td>
</tr>


<tr>
<td class="style12"><div>--- l'Europe: {{ page.fami-Europe }} </div> </td>

</tr>{% endif %}


<tr>
<td class="style12"><div>--- la Crète: {{ page.fami-Crete }} </div> </td>
		
</tr>{% endif %}

{% if page.fami-Belgique %}
<tr>
<td class="style12"><div>--- la Belgique: {{ page.fami-Belgique }} </div> </td>
				
</tr>{% endif %}

<tr>
	<td class="style12"></td>
</tr> 

<tr>
	<td class="style12"></td>
</tr>
<tr>
	<td class="style12"><div>--- La classification suivie est, dans la mesure du possible, 
		en accordance avec <strong><a href='http://www.eu-nomen.eu/portal' >PESI (2021)</strong></a>, 
		(Pan-European Species directories Infrastructure). </div>
	</td>
</tr>

<tr>
	<td class="style12"></td>
</tr>

</table>

{{ content }}

<table class="center0" style="width:900px">

    
<caption> - - - - - - - - - - - - - - - - - - - - - </caption>

<tr>
	<td class="style12"></td>
</tr>
<tr>
	<td class="style12"></td>
</tr>

</table>

<p class="style8"></p> 
<p class="style8"></p>


{{ content1 }}

<table class0="center" style="width: 960px">
	<tr>
		<td class="style5">mise à jour le {{ page.datemaj }}</td>
	</tr>
</table>





---

