---

layout: default

--- 


<style>
  
	table.center {
	  border-collapse: collapse;
	  border: 2px solid #EDDEA5;
	  margin-left:auto; 
	  margin-right:auto;
	  
	}
	 
	th {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	td {
	  padding: 3px;
	  text-align: center;
	  font-size: small;
	  text-decoration: none;
	}
	  table.a {
	  table-layout: fixed;
	  width: 100%;  
	}
	  

	.style1 {
		border: 2px solid #EDDEA5;
		text-align: left;
		font-size: small;
		font-family: "Book Antiqua";
	}
	
	  
	
	  
	</style>

<p class="style8"></p>


<table class="center0" style="width:600px">

	<tr>
		<td class="style14">{{ page.Titre }}</td>
	</tr>
    
</table>

<p class="style8"></p>
<p class="style8"></p>
<p class="style8"></p>

<table class="center" class=table.center style="width: 800px">

<tr>
	<td class="style12"></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>


<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>
	

{% if page.fami-intro %}

<tr>
	<td class="style12"><div> {{ page.fami-intro }}</div></td>

	<td class="style12"></td>

</tr>{% endif %}



{% if page.fami-note1 %}

<tr>
	<td class="style12"><div> {{ page.fami-note1 }}</div></td>

	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note2 %}
<tr>
	<td class="style12"><div> {{ page.fami-note2 }} </div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note3 %}
<tr>
	<td class="style12"><div> {{ page.fami-note3 }} </div></td>
</tr>


<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note4 %}
<tr>
	<td class="style12"><div> {{ page.fami-note4 }} </div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note5 %}
<tr>
	<td class="style12"><div> {{ page.fami-note5 }} </div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

{% if page.fami-note6 %}
<tr>
	<td class="style12"><div> {{ page.fami-note6 }} </div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}


{% if page.fami-note7 %}
<tr>
	<td class="style12"><div>{{ page.fami-note7 }}</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>{% endif %}

<tr>
	<td class="style12"></td>
</tr>
 
<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>
</table>


<p class="style8"></p> 
<p class="style8"></p>

{{ content }}

<table class0="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>





---

