---
layout: famille-plante-default
title: "les Plantacées (Plantaceae AUTEUR)"
FLOREfamille: "les Plantacées (Plantaceae AUTEUR)"
fami-plante: "Plantes herbacées ou rarement arbustes"
fami-feuille: "Feuilles généralement alternes, rarement opposées, simples, parfois très réduites,  
		sans stipules"
fami-fleur: "Fleurs solitaires ou en cymes, à symétrie radiaire,hermaphrodites. 
		Corolle et calice à 4-5 pièces.Étamines: 10. Carpelles: 5, soudés en eux. 
		Ovaire supère"
fami-fruit: "Fruit: une capsule ou un fruit se divisant en 5 coques"
fami-nbrespece: "Environ 2500 espèces et 180 genres"
fami-Crete: "Crète: 14 genres et 32 espèces au minimum"
fami-Belgique: "Belgique: 17 genres et 80 espèces au minimum"
fami-note: "De nombreuses espèces sont consommées, soit en feuilles, soit en graines"
fami-note1:
fami-note2:
fami-REF: "Lit. -- Fuentes-Bazan S., Uotila P. & Borsch T. (2012):
           http://www.ingentaconnect.com/content/bgbm/will/2012/00000042/00000001/art00001.html"
HREF-espece1: "Espece1/Amaranthus-viridis.html"
floreimg1: "Amaranthus-viridis/P1770967-001.JPG"
floreespece1: "Amaranthus viridis"
FLOREspecies1: "Amaranthus viridis L."
HREF-espece2: "Chenopodiastrum-murale/Chenopodiastrum-murale.html"
floreimg2: "Chenopodiastrum-murale/P1590327-1.JPG"
floreespece2: "Chenopodiastrum murale"
FLOREspecies2: "Chenopodiastrum murale L."
HREF-espece3: "Salsola-kali/Salsola-kali.html"
floreimg3: "Salsola-kali/P1550584.JPG"
floreespece3: "Salsola kali"
FLOREspecies3: "Salsola kali (syn.:Salsola tragus subsp. pontica (PALL.) RILKE)"
HREF-espece4: "Suaeda-vera/Suaeda-vera.html"
floreimg4: "Suaeda-vera/P1800696-001.JPG"
floreespece4: "Suaeda-vera"
FLOREspecies4: "Suaeda vera FORSSK. ex J.F. GMEL."
datemaj: " 13 septembre 2013 "
---
<p class="style8"><span class="style16"></span></p>
