---
layout: default
title: " "
---
<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.FLOREfamille }}</td>
	</tr>
</table>

<table align="center" class="style17" style="width: 800px">
	
    {% if page.fami-plante %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-plante }} </em></div></td>
	</tr>{% endif %}

    {% if page.fami-feuille %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-feuille }} </em></div></td>
	</tr>{% endif %}
    
    {% if page.fami-fleur %}
	<tr>
		<td class="style13"><div><em> {{ page.fami-fleur }}  </em></div></td>
	</tr>{% endif %}
	
    {% if page.fami-fleur1 %}
	<tr>
		<td class="style13"><div><em> {{ page.fami-fleur1 }}  </em></div></td>
	</tr>{% endif %}
    
    {% if page.fami-fruit %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-fruit}} </em></div></td>
	</tr>{% endif %}

    {% if page.fami-fruit1 %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-fruit1}} </em></div></td>
	</tr>{% endif %}

	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-nbrespece %}
	<tr>
		<td class="style12"><div> {{page.fami-nbrespece }}</div> </td>
	</tr>{% endif %}

    {% if page.fami-Crete %}
	<tr>
		<td class="style12"> {{ page.fami-Crete }} </td>
	</tr>{% endif %}

    {% if page.fami-Belgique %}
    <tr>
		<td class="style12"> {{ page.fami-Belgique }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.fami-note %}
    <tr>
		<td class="style12"><div> {{ page.fami-note }} <div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"><div> {{ page.fami-note1 }} </div></td>
	</tr>
    
   
    {% if page.fami-note2 %}
    <tr>
		<td class="style12"><div> {{ page.fami-note2 }} </div></td>
	</tr>{% endif %}

   {% if page.fami-REF %}
    <tr>
		<td class="style12"> {{ page.fami-REF }} </td>
	</tr>{% endif %}

</table>

{{ content }}

<p class="style8">&nbsp;</p>

<table align="center"  style="width: 960px">
	<tr>
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece1 }} ">
		<img src="{{ page.floreimg1 }}" alt="{{ page.FLOREspecies1 }}" title="{{ page.FLOREspecies1 }}" ></a> </td>
		
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece2 }}">
		<img src="{{ page.floreimg2 }}" alt="{{ page.FLOREspecies2 }}" title="{{ page.FLOREspecies2 }}" ></a> </td>

        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece3 }} ">
		<img  src="{{ page.floreimg3 }}" alt="{{ page.FLOREspecies3 }}" title="{{ page.FLOREspecies3 }}" ></a> </td>
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece4 }}">
		<img  src="{{ page.floreimg4 }}" alt="{{ page.FLOREspecies4 }}" title="{{ page.FLOREspecies4 }}" ></a> </td>

        
	</tr>
	<tr>
		<td class="style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece1 }}" style="text-decoration:none"> 
		<em> {{ page.floreespece1 }} </em></a></td>

        <td class="style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece2 }}" style="text-decoration:none">
             <em> {{ page.floreespece2 }} </em></a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece3 }}" style="text-decoration:none">
            <em> {{ page.floreespece3 }} </em></a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece4 }}" style="text-decoration:none">
            <em> {{ page.floreespece4 }} </em></a></td>
	</tr>
    
    {% if page.floreimg5 and page.HREF-espece5 and page.FLOREspecies5 and page.FLOREspecies5 %}
    <tr>
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece5 }} ">
		<img src="{{ page.floreimg5 }}" alt="{{ page.FLOREspecies5 }}" title="{{ page.FLOREspecies5 }}" ></a> </td>
	</tr>{% endif %}


	{% if page.floreespece %}
    <tr>
		<td class="auto-style7" style="width: 240px">
		<a class="style7" href="{{ page.HREF-espece5 }}" style="text-decoration:none"> 
		<em> {{ page.floreespece5 }} </em></a></td>
	</tr>{% endif %}

</table>

<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

