---
layout: default

---

<!-- titre Espèce -- lignes 33 - 37 -->
<!-- Taxonomie et numéro Phrygana -- lignes 49 - 66 -->
<!-- Image img0 -- lignes 77 - 87 -->
<!-- Synonyme(s) et nom(s) commun(s) -- lignes 102 - 116 -->

<!-- Description et cycle de vie  -- lignes 133 - 181 -->
<!-- Indigénat Crète et Belgique -- lignes 197 - 205 -->
<!-- Altitudes et Biotopes -- lignes 219 - 232 -->
<!-- Origine et Distribution -- lignes 249 - 257 -->

<!-- Notes et Observations -- lignes 275 - 314 -->
<!-- Liste rouge, Utilité et Nuisance -- lignes 328 - 352 -->

<!-- Table Régime alimentaire phytophage -- lignes 365 - 426 -->
<!-- Table Mines -- lignes 437 - 537 -->
<!-- Table Galles -- lignes 547 - 651 -->

<!-- images 1 - A-B - 2 - 3 -- lignes 666 - 741 -->
<!-- images C-D - 4 - 5 - 6 - 7 -- lignes 753 - 825 -->
<!-- images E-F - 7 - 8 - 9 -- lignes 836 - 906 -->
<!-- date mise à jour  -- lignes 918 - 921 -->
<p class="style8"></p>


<!-- DÉBUT titre Espèce
    
     DÉBUT -->

<table align="center" style="width: 600px">
	<tr>
		<td class="style14"> <em>{{ page.FAUNEespece }}</em> {{ page.Auteurespece }}</td>
	</tr>
</table>
 
<!-- FIN titre Espèce
    
     FIN -->

<p class="style8"></p>

<!-- DÉBUT Taxonomie et numéro Phrygana
    
     DÉBUT -->

<table align="center" class="style17" style="width: 800px">
	<tr>
		<td class="style12" style="width: 40px"> {{ page.phrygananbr }} </td>

		<td class="style12" style="width: 80px">Fauna </td>

		<td class="style12" style="width: 140px"> 
        <a href='/Fauna/{{page.FAUNEorder}}/{{page.FAUNEorder}}.html'<strong>{{page.FAUNEorder}}</strong></a></td>

		<td class="style12" style="width: 140px" >
            <a href='../{{page.FAUNEfamille}}.html' <strong>{{page.FAUNEfamille}}</strong></a> </td>
        
        {% if page.faunesousfamille %}
        <td class="style12" style="width: 160px">{{ page.faunesousfamille }}</td>{% endif %}

		<td class="style12"style="width: 240px"><em>{{ page.FAUNEgenre }}</em> {{ page.AUTEURgenre }}</td>
	</tr>
</table>

<!-- FIN Taxonomie et numéro Phrygana
    
     FIN -->


<!-- DÉBUT Image img0
    
     DÉBUT -->

<table align="center" style="width: 880px">
	<tr>
        <td class="style9">
		<img src="{{ page.fauneimg0 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date0 }}</span></td>
	</tr>
</table>

<!-- FIN Image img0
    
     FIN -->



<table align="center" class="style17" style="width: 800px">
	

    <!-- DÉBUT Synonyme(s) et nom(s) commun(s)
    
     DÉBUT -->

    {% if page.Synonyme %}
    <tr>
		<td class="style12"> syn.:<em><strong> {{ page.Synonyme }} </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.nom-commun %}
    <tr>
		<td class="style12" ><div><strong>Nom commun</strong>: {{ page.nom-commun }} </div></td>
	</tr>{% endif %}

    <!-- FIN Synonyme(s) et nom(s) commun(s)
    
     FIN -->

       <tr>
		<td class="style12"></td>
	</tr>
        <tr>
		<td class="style12"></td>
	</tr>
    
    <!-- DÉBUT Description et cycle de vie
    
     DÉBUT -->
     
    {% if page.description-adulte %}
	<tr>
		<td class="style12" ><div><strong>Description de l'adulte</strong>:  {{ page.description-adulte }} </div></td>
	</tr>{% endif %}

    
    <tr>
		<td class="style12"></td>
	</tr>
        <tr>
		<td class="style12"></td>
	</tr>
    

    {% if page.Biologie %}
    <tr>
		<td class="style12" ><div><strong>Biologie:</strong> {{ page.Biologie }} </div> </td>
	</tr>{% endif %}


	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.Regime-alimentaire %}
	<tr>
		<td class="style12"><div><strong>Régime alimentaire:</strong>  {{ page.Regime-alimentaire }} </div></td>
	</tr>{% endif %}
   
	      
    <tr>
		<td class="style12"></td>
	</tr>
        <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.PeriodevolCrete %}
    <tr>
		<td class="style12"><div><strong>Période de vol en Crète:</strong>  {{ page.PeriodevolCrete }} </div> </td>
	</tr>{% endif %}

    {% if page.Periodevol %}
    <tr>
		<td class="style12"><div><strong>Période de vol:</strong>  {{ page.Periodevol }} </div> </td>
	</tr>{% endif %}

    {% if page.PeriodeACTIVECrete %}
    <tr>
		<td class="style12"><div>--- {{ page.PeriodeACTIVECrete }} </div> </td>
	</tr>{% endif %}

    {% if page.PeriodeACTIVE %}
    <tr>
		<td class="style12"><div>--- {{ page.PeriodeACTIVE }} </div> </td>
	</tr>{% endif %}

    <!-- FIN Description et cycle de vie
    
     FIN -->

    
             
    <tr>
		<td class="style12"></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>

     <!-- DÉBUT Indigénat Crète et Belgique
    
     DÉBUT -->

    {% if page.IndigenatCrete %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.IndigenatCrete }} </td>
	</tr>{% endif %}

    {% if page.IndigenatBelgium %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.IndigenatBelgium }} </td>
	</tr>{% endif %}

    <!-- FIN Indigénat Crète et Belgique
    
     FIN -->

    <tr>
		<td class="style12"></td>
	</tr>

    <!-- DÉBUT Altitudes et Biotopes
    
     DÉBUT -->

    {% if page.Altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes: </strong> {{ page.Altitudes }} </td>
	</tr>{% endif %}

    {% if page.BiotopesCrete %}
	<tr>
		<td class="style12" ><div><strong>Biotopes en Crète:</strong> {{ page.BiotopesCrete }} </div></td>
	</tr>{% endif %}

     {% if page.Biotopesgeneral %}
	<tr>
		<td class="style12" ><strong>Biotopes:</strong> {{ page.Biotopesgeneral }} </td>
	</tr>{% endif %}

    <!-- FIN Altitudes et Biotopes
    
     FIN -->       
     <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>

    <!-- DÉBUT Origine et Distribution
    
     DÉBUT -->

    {% if page.Origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.Origine }}</td>
	</tr>{% endif %}

    {% if page.Distribution %}
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.Distribution }}</td>
	</tr>{% endif %}

    <!-- FIN Origine et Distribution
    
     FIN -->

    <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>
     
    <!-- DÉBUT Notes et Observations
    
     DÉBUT -->
                
    {% if page.Note1 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note1 }} </div></td>
	</tr>{% endif %}

              
    {% if page.Note2 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note2 }} </div></td>
	</tr>{% endif %}
              
    {% if page.Note3 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note3 }} </div></td>
	</tr>{% endif %}
  
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBSERVATION %}
    <tr>
		<td class="style12" ><div>OBS. --- <em>{{ page.FAUNEespece }}</em> {{ page.OBSERVATION }}  </div> </td>    
    </tr>{% endif %}
    

    {% if page.OBS1 %}
    <tr>
		<td class="style12" ><div>{{ page.OBS1 }}  </div> </td>    
    </tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBS2 %}
    <tr>
		<td class="style12" ><div>{{ page.OBS2 }}  </div> </td>    
    </tr>{% endif %}

    <!-- FIN Notes et Observations
    
     FIN -->
    
	<tr>
		<td class="style12"></td>
	</tr>

    <!-- DÉBUT Liste rouge Utilité et Nuisance
    
     DÉBUT -->

    {% if page.Listerouge %}
    <tr>
		<td class="style12" ><div><strong>Liste rouge</strong>: {{ page.Listerouge }}  </div> </td>    
    </tr>{% endif %}
         
    <tr>
		<td class="style12"></td>

	</tr>
    {% if page.Utilite %}
    <tr>
		<td class="style12" ><div><strong>Utilité</strong>: {{ page.Utilite }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Nuisance %}
    <tr>
		<td class="style12" ><div><strong>Nuisance</strong>: {{ page.Nuisance }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>
	</table>

<!-- FIN Liste rouge Utilité et Nuisance
    
     FIN -->

<p class="style8"></p>


<!-- DÉBUT table Régime alimentaire: phytophage
    
     DÉBUT -->

{% if page.planteNOURRITURE %}
	<table align="center" class="style17" style="width: 800px">
    
	<tr>
		<td class="style12" > </td>
	</tr>
    
    {% if page.planteNOURRITURE %}
    <tr>
		<td class="style12" ><div><strong>Régime alimentaire</strong>: espèce {{ page.planteNOURRITURE }}  </div> </td> 
	</tr>{% endif %}

    <tr>
		<td class="style12" > </td>
	</tr> 

        {% if page.plante1 %}
        <tr>
		<td class="style12" > </td>
	    </tr> 

        <tr>
        
        <td class="style9">
      
        <table>
              
        <tr> 

        <td>
        <a href=" {{ page.plante1 }} ">
        <img class="center" src="{{ page.imgplante1 }}" 
        alt="{{ page.PLANTE-espece1 }}" title="{{ page.PLANTE-espece1 }}" />
        </td>
         
        <td>
        <a href=" {{ page.plante2 }} ">
        <img class="center" src="{{ page.imgplante2 }}" 
        alt="{{ page.PLANTE-espece2 }}" title="{{ page.PLANTE-espece2 }}" />
        </td>
        
        </tr>

        <tr>

        <td>
        <a  href=" {{ page.plante1 }} " style="text-decoration:none">
            <em><span class="style9"> {{ page.PLANTEnom1 }} </span></em></td>

        <td>
        <a  href=" {{ page.plante2 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.PLANTEnom2 }}</span></em></td> 
        </tr>

        </table>
    
        </td>

        </tr>{% endif %}

   
	</table>{% endif %}

<!-- FIN table Régime alimentaire phytophage
    
     FIN -->


<!-- DÉBUT table Mines
    
     DÉBUT --> 

     {% if page.Mine %}
	<table align="center" class="style17" style="width: 800px">
    
    <tr>
		<td class="style12" > </td>
	</tr>

   

	<tr>
		<td class="style12" > </td>
	</tr>

   
    <tr>
		<td class="style7" ><strong>{{ page.Mine }}</strong>   </td> 
	</tr>

    <tr>
		<td class="style12" > </td>
	</tr>

     {% if page.descr-Mine %}
     <tr>
		<td class="style12" ><div><strong>Description de la mine</strong>: {{ page.descr-Mine }}  </div> </td> 
	 </tr>{% endif %}
    
     <tr>
		<td class="style12" > </td>
	 </tr>

{% if page.larve %}
     <tr>
		<td class="style12" ><div><strong>Larve</strong>: {{ page.larve }}  </div> </td> 
	 </tr>{% endif %}
    
     <tr>
		<td class="style12" > </td>
	 </tr>
     {% if page.Organesattaques %}
     <tr>
		<td class="style12" ><div><strong>Organes attaqués</strong>: {{ page.Organesattaques }}  </div> </td> 
	 </tr>{% endif %}

     <tr>
		<td class="style12" > </td>
	 </tr>
        
          
     {% if page.mineOBS1 %}
     <tr>
		<td class="style12" ><div>--- OBS. {{ page.mineOBS1 }}  </div> </td> 
	 </tr>{% endif %}
     
      {% if page.mineOBS2 %}  
     <tr>
        <td class="style12" ><div>--- OBS. {{ page.mineOBS2 }}  </div> </td>
     </tr>{% endif %}
    
     <tr>
		<td class="style12" > </td>
	 </tr>

     {% if page.plante-mine %}
     <tr>
		<td class="style12" ><div><strong>Plantes attaquées</strong>: {{ page.plante-mine }}  </div> </td> 
	 </tr>{% endif %}


     <tr>
     <td class="style9">
      
     <table>

      <tr>
      
         
      <td>
        <a href=" {{ page.mineplante1 }} ">
        <img class="center" src="{{ page.mineimgplante1 }}" 
        alt="{{ page.minePLANTE-espece1 }}" title="{{ page.minePLANTE-espece1 }}" />
        </td>
       
      
      <td>
        <a href=" {{ page.mineplante2 }} ">
        <img class="center" src="{{ page.mineimgplante2 }}" 
        alt="{{ page.minePLANTE-espece2 }}" title="{{ page.minePLANTE-espece2 }}" />
        </td>
      
      </tr>

     
      <tr>

      
      <td>
         <a  href=" {{ page.ineplante1 }} " style="text-decoration:none">
            <em><span class="style9"><em> {{ page.minePLANTEnom1 }} </em></span></em>
      </td>

       
      <td>
         <a  href=" {{ page.mineplante2 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.minePLANTEnom2 }}</span></em>
      </td> 
        </tr>

        </table>
    </td>
    </tr>}

    <tr>
		<td class="style12"></td>
	</tr>

	</table>{% endif %}

<!-- FIN table Mines
    
     FIN -->

<!-- DÉBUT table Galles
    
     DÉBUT --> 

    {% if page.Galle %} 
	<table align="center" class="style17" style="width: 800px">
    
    <tr>
		<td class="style12" > </td>
	</tr>

   

	<tr>
		<td class="style12" > </td>
	</tr>
    <tr>
		<td class="style7" >{{ page.Galle }}   </td> 
	</tr>
    <tr>
		<td class="style12" > </td>
	</tr>

     
     <tr>
		<td class="style12" ><div>--- Galle {{ page.descr-Galle }}  </div> </td> 
	 </tr>
    
     <tr>
		<td class="style12" > </td>
	 </tr>

     
     <tr>
		<td class="style12" ><div>--- Organes attaqués: {{ page.Organesattaques }}  </div> </td> 
	 </tr>
        
     
     <tr>
		<td class="style12" ><div>--- OBS. {{ page.galleOBS1 }}  </div> </td> 
	 </tr>

        
     <tr>
        <td class="style12" ><div>--- OBS. {{ page.galleOBS2 }}  </div> </td>
     </tr>
    
     <tr>
		<td class="style12" > </td>
	 </tr>

     
     <tr>
		<td class="style12" ><div>--- Plantes attaquées: {{ page.plante-galle }}  </div> </td> 
	 </tr>


     
     <tr>
     <td class="style9">

      
     <table>

      
      <tr>
      
      
      <td>
      <a href=" {{ page.galleplante1 }} ">
      <img class="center" src="{{ galleimgplante1 }}" 
      alt="{{ page.gallePLANTE-espece1 }}" title="{{ page.gallePLANTE-espece1 }}" />
      </td>
       
           
      <td>
      <a href=" {{ page.galleplante2 }} ">
      <img class="center" src="{{ galleimgplante2 }}" 
      alt="{{ page.gallePLANTE-espece2 }}" title="{{ page.gallePLANTE-espece2 }}" />
      </td>
      
      </tr>

     
      <tr>

        
      <td>
         <a  href=" {{ page.galleplante1 }} " style="text-decoration:none">
            <em><span class="style7"><em> {{ page.gallePLANTEnom1 }} </em></span></em>
      </td>

      
      <td>
         <a  href=" {{ page.galleplante2 }} " style="text-decoration:none">
               <em><span class="style7">{{ page.gallePLANTEnom2 }}</span></em>
      </td>
      </tr> 

        </table>
    </td>
    </tr>

    <tr>
		<td class="style12"></td>
	</tr>


	</table>{% endif %}



<!-- FIN table Galles
    
     FIN -->


{{ content }}

<!-- DÉBUT  images 1 - A-B - 2 - C-D - 3
    
     DÉBUT -->

<table align="center" style="width: 900px">
	
    {% if page.fauneimg1 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}  
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.fauneimg1 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}"> 
        </td>
    </tr>{% endif %}


   {% if page.FAUNEespece and page.lieu-date1 %}
    <tr>
        
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9">
             {{ page.lieu-date1 }}</span>
        </td>
	</tr>{% endif %}

   {% if page.fauneimgA %}
        <tr>
        
        <td class="style9">
       
         <table>

       
            <tr> 
          <td>
           <img class="center" src="{{ page.fauneimgA }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}"  
                title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.fauneimgB }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}}" 
             title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" /></td>
        </tr>

       
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> {{ page.lieu-dateA }}</span></td>
           <td><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
               {{ page.lieu-dateB }}</span></td> 
        </tr>


        </table>
    </td>
    </tr>{% endif %}


    {% if page.fauneimg2 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img class="center" src="{{ page.fauneimg2 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}"> </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date2 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
    {% if page.fauneimg3 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}    
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.fauneimg3 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date3 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9">
             {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}

<!-- FIN  images 1 - A-B - 2 - 3
    
     FIN -->



<!-- DÉBUT  images C-D - 4 - 5 - 6 - 7 
    
     DÉBUT -->

    {% if page.fauneimgC %}
       <tr>
        
        <td class="style9">
       
         <table>

       
            <tr> 
          <td>
           <img class="center" src="{{ page.fauneimgC }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
              title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.fauneimgD }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
             title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" /></td>
        </tr>

       
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> {{ page.lieu-dateC }}</span></td>

           <td><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
               {{ page.lieu-dateD }}</span></td> 
        </tr>


        </table>
    </td>
    </tr>{% endif %}



    {% if page.fauneimg4 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.fauneimg4 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date4 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
   
    
    {% if page.fauneimg5 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img src="{{ page.fauneimg5 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9">
        {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.fauneimg6 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img src="{{ page.fauneimg6 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9">
             {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}

<!-- FIN  images C-D - 4 - 5 - 6 
    
     FIN -->


<!-- DÉBUT  images E-F - 7 - 8 - 9 
    
     DÉBUT -->
  
    {% if page.fauneimgE  %}
       <tr>
        
        <td class="style9">
       
         <table>

       
            <tr> 
          <td>
           <img class="center" src="{{ page.fauneimgE }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}"
                 title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.fauneimgF }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}"
               title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" /></td>
        </tr>

       {% if page.FAUNEespece and page.lieu-dateE and page.FAUNEespece and page.lieu-dateF %}
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> {{ page.lieu-dateE }}</span></td>
           <td><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> {{ page.lieu-dateF }}</span></td> 
        </tr>{% endif %}


        </table>
    </td>
    </tr>{% endif %}


     {% if page.fauneimg7 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img src="{{ page.fauneimg7 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date7 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date7 }}</span></td>
	</tr>{% endif %}

     {% if page.fauneimg8 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img src="{{ page.fauneimg8 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.FAUNEespece and page.lieu-date8 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date8 }}</span></td>
	</tr>{% endif %}


    {% if page.fauneimg9 and page.FAUNEespece and page.Auteurespece and page.FAUNEespece and page.Auteurespece %}
    <tr>
        <td class="style9">
		<img src="{{ page.fauneimg9 }}" alt="{{ page.FAUNEespece }} {{ page.Auteurespece }}" 
            title="{{ page.FAUNEespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

    
    {% if page.FAUNEespece and page.lieu-date9 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FAUNEespece }}</span></em><span class="style9"> 
            {{ page.lieu-date9 }}</span></td>
	</tr>{% endif %}

</table>
<!-- FIN  images E-F - 7 - 8 - 9 
    
     FIN -->


<!-- DÉBUT date mise à jour 
    
     DÉBUT -->

<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

<!-- FIN date mise à jour 
    
     FIN -->
