---

layout: default

--- 

<p class="style8"></p>

{% if page.Titre %}

<table class="center0" style="width:600px">

	<tr>
		<td class="style14">{{ page.Titre }}</td>
	</tr>
    
</table>{% endif %}







  
<p class="style8"></p>
  
<p class="style8"></p>

<table class="center0" style="width: 700px">

  <tr>
  <td class="style14"> 
     la faune de Crète (principalement) et parfois aussi d'ailleurs.</td>
  </tr>
  
</table>


<table class="center0" style="width: 800px">

  <tr>

    <td class="style12" >
    
    {% if page.Regnum %}
    Règne: - - {{ page.Regnum }} 
    {% endif %}
    
    {% if page.Phylum %}
    - - Phylum: {{ page.Phylum }} 
    {% endif %}
    
    {% if page.Class %}
    - - Classe: {{ page.Class }} 
    {% endif %}
    
    {% if page.Order %}
    - - Ordre: {{ page.Order }} 
    {% endif %} 
    
    
    {% if page.SubOrder %}
    - - Sous-Ordre: {{ page.SubOrder }} 
    {% endif %} 
    
    {% if page.Familia %}
    - - Famille: {{ page.Familia }} 
    {% endif %}   
    
    </td>
   
    </tr>  
  
</table>
   
<p class="style8"></p>
  
<p class="style8"></p> 

<table class="center0" style="width:900px">


<tr>

<th colspan="4"></th>
</tr>

<tr>
  <td class="style1">
    - - - - - - - - - -
  </td>
</tr>


<tr>
  
<td class="style1">
  Total des espèces illustrées: *<strong>461</strong>* 
  ===> <strong><a href='Fauna/liste-especes.html' >liste des noms scientifiques</a></strong>
</td>

</tr>

<tr>
  <td class="style1">
    <p class="style8"></p> 
  </td>

</tr>



<tr>
  <td class="style12"><div>La classification suivie est, dans la mesure du possible, 
          en accordance avec <strong><a href='http://www.eu-nomen.eu/portal' >PESI (2020)</strong></a>, 
          (Pan-European Species directories Infrastructure). </div></td>
</tr>


<tr>
<td class="style1">
  - - - - - - - - - -
</td>
</tr>

</table>


<table class="center0" style="width:900px">

<caption> Chordata Haeckel, 1874  </caption>


<tr>
  <th style="width:220px"></th>
  <th style="width:220px"></th>
  <th style="width:220px"></th>
  <th style="width:220px"></th>
   
</tr>

<p class="style8"></p> 
<p class="style8"></p>

<tr>

  <td><a href='/Fauna/Amphibia/Amphibia.html'
  ><img src='/Fauna/Amphibia/Bufonidae/Bufo-viridis/BUFVIR.jpg' 
  alt='Bufo viridis Laurenti, 1768' title='Bufo viridis Laurenti, 1768'
  ></a></td>

 <td><a href='/Fauna/Aves/Aves.html'
  ><img src='/Fauna/Aves/Saxicolidae/Oenanthe-hispanica/P1850052-001.JPG' 
  alt='Oenanthe hispanica (Linnaeus, 1758)' title='Oenanthe hispanica (Linnaeus, 1758)'
  ></a></td>
  

  <td><a href='/Fauna/Mammalia/Mammalia.html'
  ><img src='/Fauna/Mammalia/Muridae/Micromys-minutus/IMG_0050-001.jpg' 
  alt='Micromys minutus (Pallas, 1771)' title='Micromys minutus (Pallas, 1771)'
  ></a></td>
  
  <td><a href='/Fauna/Reptilia/Reptilia.html'
    ><img src='/Fauna/Reptilia/Gekkonidae/Hemidactylus-turcicus/P1600312-1.JPG' 
    alt='Hemidactylus turcicus (Linnaeus 1758)' title='Hemidactylus turcicus (Linnaeus 1758)'
    ></a></td>
  
</tr>

  <tr>

  <td><a href='/Fauna/Amphibia/Amphibia.html'
  >Amphibia</a></td>
  <td><a href='/Fauna/Aves/Aves.html'
  >Aves</a></em></td>
  <td><em><a href='/Fauna/Mammalia/Mammalia.html'
  >Mammalia</a></em></td>
  <td><em><a href='/Fauna/Reptilia/Reptilia.html'
   >Reptilia</a></em></td>
  
</tr>


</table>


<p class="style8"></p> 
<p class="style8"></p>




<tr>
<td class="style5">14 août 2020</td>
</tr>
  
</table>



---



