---
layout: default
title: " "
---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.FLOREspecies }}</td>
	</tr>
</table>

<p class="style8"></p>


<table align="center" class="style17" style="width: 800px">
	<tr>
		<td class="style12" style="width: 40px"> {{ page.phrygananbr }} </td>
		<td class="style12" style="width: 80px">Flora </td>
		<td class="style12" style="width: 180px">
		<a class="style30" href="{{ page.HREFfamille }}"><strong>{{ page.florefamilia }}</strong></a></td>
        
        {% if page.floretribe %}
        <td class="style12" style="width: 160px">{{ page.floretribe }}</td>{% endif %}

		<td class="style12"><em>{{ page.floregenre }}</em>{{ page.floregenreAUTEUR }}</td>
	</tr>
</table>

<table align="center" style="width: 880px">
	<tr>
        <td class="style9">
		<img src="{{ page.floreimg0 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date0 }}</span></td>
	</tr>
</table>



<table align="center" class="style17" style="width: 800px">
	
    {% if page.nom-synonyme %}
    <tr>
		<td class="style12"> syn.:<em><strong> {{ page.nom-synonyme }} </strong></em> {{ page.nom-synauteur}} </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>

    {% if page.nom-commun %}
    <tr>
		<td class="style12" > {{ page.nom-commun }} </td>
	</tr>{% endif %}
    
    {% if page.descr-plante %}
	<tr>
		<td class="style12" > {{ page.descr-plante }} </td>
	</tr>{% endif %}

    {% if page.descr-feuilles %}
    <tr>
		<td class="style12" ><div><strong>Feuilles:</strong> {{ page.descr-feuilles }} </div> </td>
	</tr>{% endif %}

	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.descr-fleurs %}
	<tr>
		<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
	</tr>{% endif %}

    {% if page.descr-fruit %}
    <tr>
		<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
	</tr>{% endif %}

    {% if page.descr-type %}
	<tr>
		<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td>
	</tr>{% endif %}

    {% if page.descr-hauteur %}
	<tr>
		<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>
	</tr>{% endif %}

    {% if page.descr-floraison %}
    <tr>
		<td class="style12" ><strong>Floraison:</strong> {{ page.descr-floraison }} </td>
	</tr>{% endif %}

    {% if page.descr-altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes: </strong> {{ page.descr-altitudes }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-indigenat %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.descr-indigenat }} </td>
	</tr>{% endif %}

    {% if page.descr-indigenat1 %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.descr-indigenat1 }} </td>
	</tr>{% endif %}

    {% if page.descr-biotopes %}
	<tr>
		<td class="style12" ><strong>Biotopes en Crète:</strong> {{ page.descr-biotopes }} </td>
	</tr>{% endif %}

     {% if page.descr-biotopes1 %}
	<tr>
		<td class="style12" ><strong>Biotopes:</strong> {{ page.descr-biotopes1 }} </td>
	</tr>{% endif %}

    {% if page.descr-distribution %}
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.descr-distribution }}</td>
	</tr>{% endif %}

    {% if page.descr-origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.descr-origine }}</td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>
     
              
    {% if page.descr-note1 %}
    <tr>
		<td class="style12">{{ page.descr-note1 }}</td>
	</tr>{% endif %}

              
    {% if page.descr-note2 %}
    <tr>
		<td class="style12"><div>{{ page.descr-note2 }} </div></td>
	</tr>{% endif %}
              
    {% if page.descr-note3 %}
    <tr>
		<td class="style12"><div>{{ page.descr-note3 }} </div></td>
	</tr>{% endif %}
    
    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.descr-OBS %}
    <tr>
		<td class="style12" ><div>{{ page.descr-OBS }}  </div> </td>    
    </tr>{% endif %}

    {% if page.descr-OBS1 %}
    <tr>
		<td class="style12" ><div>{{ page.descr-OBS1 }}  </div> </td>    
    </tr>{% endif %}

    {% if page.descr-OBS2 %}
    <tr>
		<td class="style12" ><div>{{ page.descr-OBS2 }}  </div> </td>    
    </tr>{% endif %}

	<tr>
		<td class="style12"></td>
	</tr>
	</table>

{{ content }}


	<table align="center" style="width: 900px">
	
   

    {% if page.floreimg1 and page.FLOREspecies and page.FLOREspecies %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg1 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}"> </td>
    </tr>{% endif %}


    {% if page.floreespece and page.lieu-date1 %} 
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date1 }}</span></td>
	</tr>{% endif %}

  <tr>
        
        <td class="style9">
       
         <table>

      {% if page.floreimgA and page.FLOREspecies and page.FLOREspecies and page.floreimgB and page.FLOREspecies and page.FLOREspecies %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgA }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgB }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" /></td>
        </tr>{% endif %}

      {% if page.floreespece and page.lieu-dateA and page.lieu-dateB  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-dateA }}</span></td>
           <td><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-dateB }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>

       
         
        <tr>
        
        <td class="style9">
       
         <table>

       {% if page.floreimgC and page.FLOREspecies and page.FLOREspecies and page.floreimgD and page.FLOREspecies and page.FLOREspecies %}
            <tr> 
          <td>
           <img class="center" src="{{ page.floreimgC }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgD }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" /></td>
        </tr>{% endif %}

       {% if page.floreespece and page.lieu-dateC and page.lieu-dateD  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-dateC }}</span></td>
           <td><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-dateD }}</span></td> 
        </tr>{% endif %}


        </table>
    </td>
    </tr>

    {% if page.floreimg2 and page.FLOREspecies and page.FLOREspecies %}
    <tr>
        <td class="style9" >
		<img class="center" src="{{ page.floreimg2 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}"> </td>
    </tr>{% endif %}
    
    {% if page.floreespece and page.lieu-date2 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
    {% if page.floreimg3 and page.FLOREspecies and page.FLOREspecies %}     
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.floreimg3 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" > </td>
    </tr>{% endif %}
    
    {% if page.floreespece and page.lieu-date3 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}
    
    {% if page.floreimg4 and page.FLOREspecies and page.FLOREspecies %}  
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.floreimg4 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" > </td>
    </tr>{% endif %}
    
    {% if page.floreespece and page.lieu-date4 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
   
    {% if page.floreimg5 and page.FLOREspecies and page.FLOREspecies %}
    <tr>
        <td class="style9">
		<img src="{{ page.floreimg5 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" > </td>
    </tr>{% endif %}
    
    {% if page.floreespece and page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.floreimg6 and page.FLOREspecies and page.FLOREspecies %}
    <tr>
        <td class="style9">
		<img src="{{ page.floreimg6 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" > </td>
    </tr>{% endif %}
    
    {% if page.floreespece and page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}


</table>



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
