---
layout: default

---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14"> <em>{{ page.FLOREespece }}</em> {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} </td>
	</tr>
</table>

<p class="style8"></p>


<table align="center" class="style17" style="width: 800px">

	<tr>
		<td class="style12" style="width: 40px"> {{ page.phrygananbr }} </td>

		<td class="style12" style="width: 80px">Flora </td>

		<td class="style12" style="width: 220px">
		<a href='../{{page.FLOREfamille}}.html'<strong>{{ page.FLOREfamille }}</strong></a> {{ page.Auteurfamille }}</td>
        
        {% if page.floretribe %}
        <td class="style12" style="width: 160px">{{ page.floretribe }}</td>{% endif %}

		<td class="style12" style="width: 300px"><em>{{ page.FLOREgenre }}</em> {{ page.AUTEURgenre }}</td>
	</tr>
</table>

<table align="center" style="width: 880px">
	<tr>
        <td class="style9">
		<img src="{{ page.floreimg0 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date0 }}</span></td>
	</tr>
</table>



<table align="center" class="style17" style="width: 800px">
	
    {% if page.Synonyme %}
    <tr>
		<td class="style12"> syn.: {{ page.Synonyme }} </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.nom-commun %}
    <tr>
		<td class="style12" ><strong>Nom commun</strong>: {{ page.nom-commun }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"> </td>
	</tr>

    {% if page.descr-plante %}
	<tr>
		<td class="style12" > {{ page.descr-plante }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-feuilles %}
    <tr>
		<td class="style12" ><div><strong>Feuilles:</strong> {{ page.descr-feuilles }} </div> </td>
	</tr>{% endif %}

	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.descr-fleurs %}
	<tr>
		<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
	</tr>{% endif %}
     {% if page.pollinisation %}
	<tr>
		<td class="style12"><div><strong>Pollinisation:</strong>  {{ page.pollinisation }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-fruit %}
    <tr>
		<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
	</tr>{% endif %}
    {% if page.descr-dispersion %}
    <tr>
		<td class="style12" ><div>{{ page.descr-dispersion }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-type %}
	<tr>
		<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td>
	</tr>{% endif %}

    {% if page.descr-hauteur %}
	<tr>
		<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.descr-floraisonCrete %}
    <tr>
		<td class="style12"><div><strong>Floraison en Crète:</strong>  {{ page.descr-floraisonCrete }} </div> </td>
	</tr>{% endif %}

    {% if page.descr-floraison1 %}
    <tr>
		<td class="style12"><div><strong>Floraison:</strong>  {{ page.descr-floraison1 }} </div> </td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.IndigenatCrete %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.IndigenatCrete }} </td>
	</tr>{% endif %}

    {% if page.IndigenatBelgium %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.IndigenatBelgium }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes: </strong> {{ page.Altitudes }} </td>
	</tr>{% endif %}

    {% if page.BiotopesCrete %}
	<tr>
		<td class="style12" ><div><strong>Biotopes en Crète:</strong> {{ page.BiotopesCrete }} </div></td>
	</tr>{% endif %}

     {% if page.Biotopesgeneral %}
	<tr>
		<td class="style12" ><strong>Biotopes:</strong> {{ page.Biotopesgeneral }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>
  
    {% if page.Origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.Origine }}</td>
	</tr>{% endif %}

    {% if page.Distribution %}
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.Distribution }}</td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
         
                  
    {% if page.Note1 %}
    <tr>
		<td class="style12">--- {{ page.Note1 }}</td>
	</tr>{% endif %}

              
    {% if page.Note2 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note2 }} </div></td>
	</tr>{% endif %}
              
    {% if page.Note3 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note3 }} </div></td>
	</tr>{% endif %}
  
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBSERVATION %}
    <tr>
		<td class="style12" ><div>OBS. --- {{ page.OBSERVATION }}  </div> </td>    
    </tr>{% endif %}
    

    {% if page.OBS1 %}
    <tr>
		<td class="style12" ><div>{{ page.OBS1 }}  </div> </td>    
    </tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBS2 %}
    <tr>
		<td class="style12" ><div>{{ page.OBS2 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

  
    <!-- FIN Notes et Observations
    
     FIN -->
    
	<tr>
		<td class="style12"></td>
	</tr>

    <!-- DÉBUT Liste rouge Utilité et Nuisance
    
     DÉBUT -->

    {% if page.Listerouge %}
    <tr>
		<td class="style12" ><div><strong>Liste rouge</strong>: {{ page.Listerouge }}  </div> </td>    
    </tr>{% endif %}
         
    <tr>
		<td class="style12"></td>

	</tr>
    {% if page.Utilite %}
    <tr>
		<td class="style12" ><div><strong>Utilité</strong>: {{ page.Utilite }}  </div> </td>    
    </tr>{% endif %}
    {% if page.Utilite1 %}
    <tr>
		<td class="style12" ><div><strong>Utilité</strong>: {{ page.Utilite1 }}  </div> </td>    
    </tr>{% endif %} 
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Nuisance %}
    <tr>
		<td class="style12" ><div><strong>Nuisance</strong>: {{ page.Nuisance }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>



	</table>


<p class="style8"></p>

{% if page.Ravageur %}
	<table align="center" class="style17" style="width: 800px">
    
	<tr>
		<td class="style12" > </td>
	</tr>
    
    <tr>
		<td class="style11" ><strong>Plante nourricière pour: </strong>  </td>
	</tr>

    {% if page.Ravageur %}
    <tr>
		<td class="style12" ><div>--- {{ page.Ravageur }}  </div> </td> 
	</tr>{% endif %}

    <tr>
		<td class="style12" > </td>
	</tr> 


    {% if page.Ravageura %}
    <tr>
		<td class="style12" ><div>--- {{ page.Ravageura }}  </div> </td> 
	</tr>{% endif %}

    <tr>
		<td class="style12" > </td>
	</tr> 



        {% if page.ravageur1 %}
        <tr>
		<td class="style12" > </td>
	    </tr> 

        <tr>
        
        <td class="style9">
      
        <table>
              
        <tr> 

        <td>
        <a href=" {{ page.ravageur1 }} ">
        <img class="center" src="{{ page.imgravageur1 }}" 
        alt="{{ page.RAVAGEUR-espece1 }}" title="{{ page.RAVAGEUR-espece1 }}" />
        </td>
         
        <td>
        <a href=" {{ page.ravageur2 }} ">
        <img class="center" src="{{ page.imgravageur2 }}" 
        alt="{{ page.RAVAGEUR-espece2 }}" title="{{ page.RAVAGEUR-espece2 }}" />
        </td>
        
        <td>
        <a href=" {{ page.ravageur3 }} ">
        <img class="center" src="{{ page.imgravageur3 }}" 
        alt="{{ page.RAVAGEUR-espece3 }}" title="{{ page.RAVAGEUR-espece3 }}" />
        </td>

        
        </tr>

        <tr>

        <td>
        <a  href=" {{ page.ravageur1 }} " style="text-decoration:none">
            <em><span class="style9"> {{ page.RAVAGEURnom1 }} </span></em></td>

        <td>
        <a  href=" {{ page.ravageur2 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.RAVAGEURnom2 }}</span></em></td> 

         <td>
        <a  href=" {{ page.ravageur3 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.RAVAGEURnom3 }}</span></em></td>

       
        </tr>

        </table>
    
        </td>

        </tr>{% endif %}


        <tr>
		<td class="style12" > </td>
	</tr> 



        {% if page.ravageur4 %}
        <tr>
		<td class="style12" > </td>
	    </tr> 

        <tr>
        
        <td class="style9">
      
        <table>
              
        <tr> 

        <td>
        <a href=" {{ page.ravageur4 }} ">
        <img class="center" src="{{ page.imgravageur4 }}" 
        alt="{{ page.RAVAGEUR-espece4 }}" title="{{ page.RAVAGEUR-espece4 }}" />
        </td>
         
        <td>
        <a href=" {{ page.ravageur5 }} ">
        <img class="center" src="{{ page.imgravageur5 }}" 
        alt="{{ page.RAVAGEUR-espece5 }}" title="{{ page.RAVAGEUR-espece5 }}" />
        </td>
        
        <td>
        <a href=" {{ page.ravageur6 }} ">
        <img class="center" src="{{ page.imgravageur6 }}" 
        alt="{{ page.RAVAGEUR-espece6 }}" title="{{ page.RAVAGEUR-espece6 }}" />
        </td>

        
        </tr>

        <tr>

        <td>
        <a  href=" {{ page.ravageur4 }} " style="text-decoration:none">
            <em><span class="style9"> {{ page.RAVAGEURnom4 }} </span></em></td>

        <td>
        <a  href=" {{ page.ravageur5 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.RAVAGEURnom5 }}</span></em></td> 

         <td>
        <a  href=" {{ page.ravageur6 }} " style="text-decoration:none">
               <em><span class="style9">{{ page.RAVAGEURnom6 }}</span></em></td>

       
        </tr>

        </table>
    
        </td>

        </tr>{% endif %}

   
	</table>{% endif %}





    





<p class="style8"></p>

{{ content }}


{% if page.floreimg1 %}

	<table align="center" style="width: 900px">
	
    {% if page.floreimg1 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg1 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date1 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date1 }}</span></td>
	</tr>{% endif %}


     
    

  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgA and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgB and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgA }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgB }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateA and page.lieu-dateB  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateA }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateB }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>

       
         
        <tr>
        
        <td class="style9">
       
         <table>

       {% if page.floreimgC and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgD and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
            <tr> 
          <td>
           <img class="center" src="{{ page.floreimgC }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgD }}" 
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

       {% if page.FLOREespece and page.lieu-dateC and page.lieu-dateD  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateC }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateD }}</span></td> 
        </tr>{% endif %}


        </table>
    </td>
    </tr>

    {% if page.floreimg2 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg2 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date2 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
         

{% if page.floreimg3 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg3 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date3 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}
    
   {% if page.floreimg4 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg4 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date4 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
      
         

  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgE and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgF and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgE }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgF }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateE and page.lieu-dateF  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateE }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateF }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>

      
  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgG and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgH and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgG }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgH }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateG and page.lieu-dateH  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateG }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateH }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>

 

    {% if page.floreimg5 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg5 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.floreimg6 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg6 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}



  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgI and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgJ and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgI }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgJ }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateI and page.lieu-dateJ  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateI }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateJ }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>



 {% if page.floreimg7 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg7 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date7 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date7 }}</span></td>
	</tr>{% endif %}

{% if page.floreimg8 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg8 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date8 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date8 }}</span></td>
	</tr>{% endif %}

{% if page.floreimg9 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg9 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date9 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date9 }}</span></td>
	</tr>{% endif %}



</table>{% endif %}



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
