---
layout: default
title: " "
---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.FLOREspecies }}</td>
	</tr>
</table>

<p class="style8"></p>


<table align="center" class="style17" style="width: 900px">
	<tr>
		<td class="style12" style="width: 40px">53</td>
		<td class="style12" style="width: 80px">Flora </td>
		<td class="style12" style="width: 120px">
		<a class="style30" href="{{ page.HREFfamille }}"><strong>{{ page.florefamilia }}</strong></a></td>
		<td class="style12"><em>{{ page.floregenre }}</em></td>
	</tr>
</table>

<table align="center" style="width: 900px">
	<tr>
        <td class="style9">
		<img height= "{{ page.img-height }}" src="{{ page.floreimg }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date }}</span></td>
	</tr>
</table>



<table align="center" class="style17" style="width: 800px">
	<tr>
		<td class="style12"> syn.:<em><strong> {{ page.nom-synonyme }} </strong></em> {{ page.nom-synauteur}} </td>
	</tr>
	<tr>
		<td class="style12" > {{ page.nom-commun }} </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12" > {{ page.descr-plante }} </td>
	</tr>
    <tr>
		<td class="style12" ><div><strong>Feuilles:</strong> {{ page.descr-feuilles }} </div> </td>
	</tr>

	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
	</tr>

    <tr>
		<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
	</tr>


	<tr>
		<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td></td>
	</tr>
	<tr>
		<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>

		<td class="style12" ></td>
	</tr>
	<tr>
		<td class="style12" ><strong>Floraison:</strong> {{ page.descr-floraison }} </td>
	</tr>
	<tr>
		<td class="style12" ><strong>Altitudes: </strong> {{ page.descr-altitudes }} </td>
	</tr>
	<tr>
		<td class="style12" ><strong>Statut en Crète:</strong> {{ page.descr-indigenat }} </td>
		
	</tr>
	<tr>
		<td class="style12" ><strong>Biotopes en Crète:</strong> {{ page.descr-biotopes }} </td>
	</tr>
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.descr-distribution }}</td>
	</tr>
    <tr>
		<td class="style12"> Note: {{ page.descr-note }}</td>
	</tr>

	<tr>
		<td class="style12"></td>
	</tr>
	</table>



	<table align="center" style="width: 900px">
	<tr>
        <td class="style9">
		<img height= img height= "{{ page.img-height1 }}" src="{{ page.floreimg1 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width1 }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date }}</span></td>
	</tr>

    <tr>
        <td class="style9">
		<img height= img height= "{{ page.img-height2 }}" src="{{ page.floreimg }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width2 }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date }}</span></td>
	</tr>
    <tr>
        <td class="style9">
		<img height= img height= "{{ page.img-height3 }}" src="{{ page.floreimg3 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width3 }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date }}</span></td>
	</tr>
        
    <tr>
        <td class="style9">
		<img height= img height= "{{ page.img-height4 }}" src="{{ page.floreimg4 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width4 }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date1 }}</span></td>
	</tr>
    <tr>
        <td class="style9">
		<img height= img height= "{{ page.img-height5 }}" src="{{ page.floreimg5 }}" alt="{{ page.FLOREspecies }}" title="{{ page.FLOREspecies }}" width="{{ page.img-width5 }}"> </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.floreespece }}</span></em><span class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>
</table>



<table align="center" style="width: 1000px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>