---
layout: default

---
<p class="style8"></p>
<!-- Titre: famille  -->

{% if page.Floretitre %}
    <table align="center" style="width: 600px">
	   <tr>
		   <td class="style14">Les {{ page.Floretitre }} de Crète (principalement), mais aussi d'ailleurs.</td>
	   </tr>
    </table>{% endif %}


<!-- Description et caractéristiques de la famille  -->
<table align="center" class="style17" style="width: 800px">
	
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-intro %}
    <tr>
		<td class="style12"><div> {{ page.fami-intro }} </div></td>
	</tr>{% endif %}
    
    <tr>
		<td class="style12"></td>
	
    </tr>
    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-plante %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-plante }} </em></div></td>
	</tr>{% endif %}

    {% if page.fami-feuille %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-feuille }} </em></div></td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.fami-fleur %}
	<tr>
		<td class="style13"><div><em> {{ page.fami-fleur }}  </em></div></td>
	</tr>{% endif %}
	
    {% if page.fami-fleurs1 %}
	<tr>
		<td class="style13"><div><em> {{ page.fami-fleurs1 }}  </em></div></td>
	</tr>{% endif %}
    


    {% if page.fami-fruit %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-fruit}} </em></div></td>
	</tr>{% endif %}

    {% if page.fami-fruit1 %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-fruit1}} </em></div></td>
	</tr>{% endif %}

	<tr>
		<td class="style12"></td>
	</tr>


    <!-- Aire de répartition et nombre d'espèces  -->

    {% if page.florefamille %}
	<tr>
		<td class="style12"><div>Les {{page.florefamille }} dans le monde: 
            {{ page.nbrespeces }}</div> </td>
	</tr>{% endif %}

    
    <tr>
		<td class="style12"></td>
	</tr>

    
    {% if page.fami-Crete %}
	<tr>
		<td class="style12"><div>--- nombre d'espèces répertoriées en Crète: {{ page.fami-Crete }} </div> </td>
	</tr>{% endif %}

    {% if page.fami-Belgique %}
    <tr>
		<td class="style12"><div>--- nombre d'espèces répertoriées en Belgique: {{ page.fami-Belgique }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    
 
      
    {% if page.fami-note %}
    <tr>
		<td class="style12"><div> {{ page.fami-note }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>
    {% if page.fami-note1 %}
    <tr>
		<td class="style12"><div> {{ page.fami-note1 }} </div></td>
	</tr>{% endif %}
    
   
    {% if page.fami-note2 %}
    <tr>
		<td class="style12"><div> {{ page.fami-note2 }} </div></td>
	</tr>{% endif %}

    {% if page.fami-note3 %}
    <tr>
		<td class="style12"><div> {{ page.fami-note3 }} </div></td>
	</tr>{% endif %}


</table>


<p class="style8"></p>

{% if page.fami-key %}
<table align="center"  class="style15" style="width: 800px">
	
    
    <tr>
     {% if page.fami-key %}
	<td class="style12"><div>{{ page.fami-key }}</div></td>

	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

	<tr>
     {% if page.fami-key1 %}
		<td class="style12"><div>{{ page.fami-key1 }}</div></td>
	</tr>{% endif %}
    
    <tr>
     <td class="style12"><div></div></td>
	</tr>

	<tr>
		{% if page.fami-key2 %}
		<td class="style12"><div>{{ page.fami-key2 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.fami-key3 %}
		<td class="style12"><div>{{ page.fami-key3 }}</div></td>
	</tr>{% endif %}

    <tr>
     <td class="style12"><div></div></td>
	</tr>

    <tr>
		{% if page.fami-key4 %}
		<td class="style12"><div>{{ page.fami-key4 }}</div></td>
	</tr>{% endif %}
    
    <tr>
		{% if page.fami-key5 %}
		<td class="style12"><div>{{ page.fami-key5 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.fami-key6 %}
		<td class="style12"><div>{{ page.fami-key6 }}</div></td>
	</tr>{% endif %}

</table>{% endif %}



{{ content }}



<table align="center"  style="width: 960px">
	
      <tr>
     {% if page.fami-tribu1  %}
		<td class="style11"> {{ page.fami-tribu1 }} </td>
        {% endif %}
    </tr>

</table>


{% if page.descr-tribu1 %}
<table align="center"  style="width: 800px">
	
    <tr>
     {% if page.descr-tribu1  %}
		<td class="style11"> --- {{ page.descr-tribu1 }} </td>
        {% endif %}
    </tr>
    
    <tr>
     {% if page.descr-tribu2 %}
	<td class="style12"><div> --- {{ page.descr-tribu2 }}</div></td>

	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

</table>{% endif %}

<table align="center"  style="width: 960px">     
    <tr>
        
        {% if page.Espece1 and page.FLOREespece1 and page.FLOREespece1 and page.floreimg1 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Espece1 }} ">
		<img src="{{ page.floreimg1 }}" alt="{{ page.FLOREespece1 }}" title="{{ page.FLOREespece1 }}" ></a> 
        </td>{% endif %}
		
       {% if page.Espece2 and page.FLOREespece2 and page.FLOREespece2 and page.floreimg2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Espece2 }}">
		<img src="{{ page.floreimg2 }}" alt="{{ page.FLOREespece2 }}" title="{{ page.FLOREespece2 }}" ></a>
        </td>{% endif %}
        
        {% if page.Espece3 and page.FLOREespece3 and page.FLOREespece3 and page.floreimg3 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.Espece3 }} ">
		<img  src="{{ page.floreimg3 }}" alt="{{ page.FLOREespece3 }}" title="{{ page.FLOREespece3 }}" ></a> 
        </td>{% endif %}
        
        {% if page.Espece4 and page.FLOREespece4 and page.FLOREespece4 and page.floreimg4 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Espece4 }}">
		<img  src="{{ page.floreimg4 }}" alt="{{ page.FLOREespece4 }}" title="{{ page.FLOREespece4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Espece1 and page.floreespece1 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece1 }}" style="text-decoration:none"> 
		<em> {{ page.floreespece1 }} </em></a></td>{% endif %}

        {% if page.Espece2 and page.floreespece2 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece2 }}" style="text-decoration:none">
             <em> {{ page.floreespece2 }} </em></a></td>{% endif %}
        
        {% if page.Espece3 and page.floreespece3 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece3 }}" style="text-decoration:none">
            <em> {{ page.floreespece3}} </em></a></td>{% endif %}
        
        {% if page.Espece4 and page.floreespece4 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece4 }}" style="text-decoration:none">
            <em> {{ page.floreespece4 }} </em></a></td>{% endif %}
	</tr>
   
 </table>

{% if page.Espece1a and page.FLOREespece1a and page.FLOREespece1a and page.floreimg1a %}
<table align="center"  style="width: 960px">     
    <tr>
        
        {% if page.Espece1a and page.FLOREespece1a and page.FLOREespece1a and page.floreimg1a %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Espece1a }} ">
		<img src="{{ page.floreimg1a }}" alt="{{ page.FLOREespece1a }}" title="{{ page.FLOREespece1a }}" ></a> 
        </td>{% endif %}
		
       {% if page.Espece2a and page.FLOREespece2a and page.FLOREespece2a and page.floreimg2a %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Espece2a }}">
		<img src="{{ page.floreimg2a }}" alt="{{ page.FLOREespece2a }}" title="{{ page.FLOREespece2a }}" ></a>
        </td>{% endif %}
        
        {% if page.Espece3a and page.FLOREespece3a and page.FLOREespece3a and page.floreimg3a %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.Espece3a }} ">
		<img  src="{{ page.floreimg3a }}" alt="{{ page.FLOREespece3a }}" title="{{ page.FLOREespece3a }}" ></a> 
        </td>{% endif %}
        
        {% if page.Espece4 and page.FLOREespece4a and page.FLOREespece4a and page.floreimg4a %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Espece4a }}">
		<img  src="{{ page.floreimg4a }}" alt="{{ page.FLOREespece4a }}" title="{{ page.FLOREespece4a }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Espece1a and page.floreespece1a %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece1a }}" style="text-decoration:none"> 
		<em> {{ page.floreespece1a }} </em></a></td>{% endif %}

        {% if page.Espece2a and page.floreespece2a %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece2a }}" style="text-decoration:none">
             <em> {{ page.floreespece2a }} </em></a></td>{% endif %}
        
        {% if page.Espece3a and page.floreespece3a %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece3a }}" style="text-decoration:none">
            <em> {{ page.floreespece3a }} </em></a></td>{% endif %}
        
        {% if page.Espece4a and page.floreespece4a %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece4a }}" style="text-decoration:none">
            <em> {{ page.floreespece4a }} </em></a></td>{% endif %}
	</tr>
   
 </table>{% endif %}


{% if page.Espece5 and page.FLOREespece5 and page.FLOREespece5 and page.floreimg5 %}
<table align="center"  style="width: 960px">     
    <tr>
        
        {% if page.Espece5 and page.FLOREespece5 and page.FLOREespece5 and page.floreimg5 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Espece5 }} ">
		<img src="{{ page.floreimg5 }}" alt="{{ page.FLOREespece5 }}" title="{{ page.FLOREespece5 }}" ></a> 
        </td>{% endif %}
		
       {% if page.Espece6 and page.FLOREespece6 and page.FLOREespece6 and page.floreimg6 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Espece6 }}">
		<img src="{{ page.floreimg6 }}" alt="{{ page.FLOREespece6 }}" title="{{ page.FLOREespece6 }}" ></a>
        </td>{% endif %}
        
        {% if page.Espece7 and page.FLOREespece7 and page.FLOREespece7 and page.floreimg7 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.Espece7 }} ">
		<img  src="{{ page.floreimg7 }}" alt="{{ page.FLOREespece7 }}" title="{{ page.FLOREespece7 }}" ></a> 
        </td>{% endif %}
        
        {% if page.Espece8 and page.FLOREespece8 and page.FLOREespece8 and page.floreimg8 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Espece8 }}">
		<img  src="{{ page.floreimg8 }}" alt="{{ page.FLOREespece8 }}" title="{{ page.FLOREespece8 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Espece5 and page.floreespece5 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece5 }}" style="text-decoration:none"> 
		<em> {{ page.floreespece5 }} </em></a></td>{% endif %}

        {% if page.Espece6 and page.floreespece6 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece6 }}" style="text-decoration:none">
             <em> {{ page.floreespece6 }} </em></a></td>{% endif %}
        
        {% if page.Espece7 and page.floreespece7 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece7 }}" style="text-decoration:none">
            <em> {{ page.floreespece7}} </em></a></td>{% endif %}
        
        {% if page.Espece8 and page.floreespece8 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.Espece8 }}" style="text-decoration:none">
            <em> {{ page.floreespece8 }} </em></a></td>{% endif %}
	</tr>
   
 </table>{% endif %}






<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

