---
layout: default

---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14"> <em>{{ page.FLOREespece }}</em> {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} </td>
	</tr>
</table>

<p class="style8"></p>


<table align="center" class="style17" style="width: 800px">

	<tr>
		<td class="style12" style="width: 40px"> {{ page.phrygananbr }} </td>

		<td class="style12" style="width: 80px">Flora </td>

		<td class="style12" style="width: 220px">
		<a href='../{{page.FLOREfamille}}.html'<strong>{{ page.FLOREfamille }}</strong></a> {{ page.Auteurfamille }}</td>
        
        {% if page.floretribe %}
        <td class="style12" style="width: 160px">{{ page.floretribe }}</td>{% endif %}

		<td class="style12" style="width: 300px"><em>{{ page.FLOREgenre }}</em> {{ page.AUTEURgenre }}</td>
	</tr>
</table>

<table align="center" style="width: 880px">
	<tr>
        <td class="style9">
		<img src="{{ page.floreimg0 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date0 }}</span></td>
	</tr>
</table>



<table align="center" class="style17" style="width: 800px">


{% if page.remarque %}
    <tr>
		<td class="style12"></td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    	
    
    <tr>
		<td class="style12"> REM. - {{ page.remarque }} </td>
	</tr>
	<tr>
		<td class="style12"> - - - - - - - - - -</td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    <tr>
		<td class="style12"> </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>

    {% if page.Synonyme %}
    <tr>
		<td class="style12"> syn.: {{ page.Synonyme }} </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.nom-commun %}
    <tr>
		<td class="style12" ><strong>Nom commun</strong>:  {{ page.nom-commun }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"> </td>
	</tr>

    {% if page.descr-plante %}
	<tr>
		<td class="style12" > <div><strong>Aspect général</strong>: {{ page.descr-plante }} </div></td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-feuilles %}
    <tr>
		<td class="style12" ><div><strong>Feuilles</strong>: {{ page.descr-feuilles }} </div> </td>
	</tr>{% endif %}

	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.descr-fleurs %}
	<tr>
		<td class="style12"><div><strong>Fleurs:</strong>  {{ page.descr-fleurs }} </div></td>
	</tr>{% endif %}

     {% if page.pollinisation %}
	<tr>
		<td class="style12"><div><strong>Pollinisation:</strong>  {{ page.pollinisation }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-fruit %}
    <tr>
		<td class="style12"><div><strong>Fruit:</strong>  {{ page.descr-fruit }} </div> </td>
	</tr>{% endif %}

    {% if page.dispersion %}
    <tr>
		<td class="style12" ><div><strong>Dispersion:</strong> {{ page.dispersion }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.descr-longevite %}
	<tr>
		<td class="style12" ><strong>Longévité:</strong> {{ page.descr-longevite }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.descr-type %}
	<tr>
		<td class="style12" ><strong>Type biologique:</strong> {{ page.descr-type }} </td>
	</tr>{% endif %}

    {% if page.descr-hauteur %}
	<tr>
		<td class="style12"><strong>Hauteur:</strong> {{ page.descr-hauteur }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.descr-floraisonCrete %}
    <tr>
		<td class="style12"><div><strong>Floraison en Crète:</strong>  {{ page.descr-floraisonCrete }} </div> </td>
	</tr>{% endif %}

    {% if page.descr-floraison1 %}
    <tr>
		<td class="style12"><div><strong>Floraison (sauf Crète):</strong>  {{ page.descr-floraison1 }} </div> </td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
         
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.IndigenatCrete %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.IndigenatCrete }} </td>
	</tr>{% endif %}

    {% if page.IndigenatBelgium %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.IndigenatBelgium }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes </strong>: {{ page.Altitudes }} </td>
	</tr>{% endif %}

    {% if page.BiotopesCrete %}
	<tr>
		<td class="style12" ><div><strong>Biotopes en Crète</strong>: {{ page.BiotopesCrete }} </div></td>
	</tr>{% endif %}

     {% if page.Biotopesgeneral %}
	<tr>
		<td class="style12" ><strong>Biotopes hors Crète</strong>: {{ page.Biotopesgeneral }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>
  
    {% if page.Origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.Origine }}</td>
	</tr>{% endif %}

    {% if page.Distribution %}
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.Distribution }}</td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
         <tr>
		<td class="style12"></td>
	</tr> 
                  
    {% if page.Note1 %}
    
    
    <tr>
		<td class="style12"><strong>Note(s):</strong></td>
	</tr>
     <tr>
		<td class="style12"></td>
	</tr>
    
    <tr>
		<td class="style12">--- {{ page.Note1 }}</td>
	</tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>
              
    {% if page.Note2 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note2 }} </div></td>
	</tr>{% endif %}
       <tr>
		<td class="style12"></td>
	</tr>        
    {% if page.Note3 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note3 }} </div></td>

	</tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>
  {% if page.Note4 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note4 }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    {% if page.Note5 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note5 }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBSERVATION %}
    <tr>
		<td class="style12"><strong>Observation(s):</strong></td>
	</tr>

    
    <tr>
		<td class="style12" ><div>--- {{ page.OBSERVATION }}  </div> </td>    
    </tr>{% endif %}
    

    {% if page.OBS1 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS1 }}  </div> </td>    
    </tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBS2 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS2 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.OBS3 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS3 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.OBS4 %}
    <tr>
		<td class="style12" ><div>--- {{ page.OBS4 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
  
    <!-- FIN Notes et Observations
    
     FIN -->
    
	<tr>
		<td class="style12"></td>
	</tr>

    <!-- DÉBUT Liste rouge Utilité et Nuisance
    
     DÉBUT -->

    {% if page.Listerouge %}
    <tr>
		<td class="style12" ><div><strong>Liste rouge</strong>: {{ page.Listerouge }}  </div> </td>    
    </tr>{% endif %}
         
    <tr>
		<td class="style12"></td>
 </tr>

    {% if page.Menaces %}
    <tr>
		<td class="style12" ><div><strong>Menace(s)</strong>: {{ page.Menaces }}  </div> </td>    
    </tr>{% endif %}
  

    {% if page.Utilite %}
    <tr>
		<td class="style12"><strong>Usage(s), utilité(s):</strong></td>
	</tr>

    

	</tr>
     
    <tr>
		<td class="style12" ><div>--- {{ page.Utilite }}  </div> </td>    
    </tr>{% endif %}

     {% if page.Utilite1 %}
    <tr>
		<td class="style12" ><div> --- {{ page.Utilite1 }}  </div> </td>    
    </tr>{% endif %} 

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Nuisance %}
    <tr>
		<td class="style12" ><div><strong>Nuisance</strong>: --- {{ page.Nuisance }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>



	</table>


<p class="style8"></p>

{% if page.Ravageur %}
	<table align="center"  style="width: 800px">     
    
	<tr>
		<td class="style12" > </td>
	</tr>

   
    <tr>
		<td class="style12" ><div><strong>Plante hôte</strong> pour:  </div> </td> 
	</tr>
	 
    <tr>
		<td class="style12" ><div>--- {{ page.Ravageur }}    </div> </td>    
    </tr> {% endif %} 

   {% if page.Ravageur1 %}
    <tr>
		<td class="style12" ><div>--- {{ page.Ravageur1 }}  </div> </td>    
    </tr> {% endif %}
    
    <tr>
		<td class="style12" > </td>
	</tr>
 



        {% if page.planteorganes %}
	    
    <tr>
		<td class="style12" ><div><strong>Partie(s) de la plante-hôte attaquée(s)</strong> :   </div> </td> 
	</tr>

   
    <tr>
		<td class="style12" ><div>--- {{ page.planteorganes }}  </div> </td>    
    </tr> 



	{% if page.planteorganes1 %}
    <tr>
		<td class="style12" ><div>--- {{ page.planteorganes1 }}  </div> </td>    
    </tr> {% endif %}

    
    <tr>
		<td class="style12" > </td>
	</tr>   
</table> {% endif %}


{% if page.planteparasite %}
	<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>

   

	<<tr>
		<td class="style12" > </td>
	</tr>

    
    <tr>
		<td class="style7" ><em>{{ page.FLOREespece }}</em> parasite {{ page.planteparasite }}  </td> 
	</tr>
    <tr>
		<td class="style12" > </td>
	</tr>

    
    <tr>
		<td class="style12" > </td>
	</tr>
    
</table>{% endif %}




<table align="center"  style="width: 860px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
        
        {% if page.ravageur1  %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.ravageur1 }} ">
		<img src="{{ page.imgravageur1 }}" alt="{{ page.RAVAGEUR-espece1 }}" title="{{ page.RAVAGEUR-espece1 }}" ></a> 
        </td>{% endif %}
        
       
       {% if page.ravageur2  %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.ravageur2 }}">
		<img src="{{ page.imgravageur2 }}" alt="{{ page.RAVAGEUR-espece2 }}" title="{{ page.RAVAGEUR-espece2 }}" ></a>
        </td>{% endif %}
        
        {% if page.ravageur3 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.ravageur3 }} ">
		<img  src="{{ page.imgravageur3 }}" alt="{{ page.RAVAGEUR-espece3 }}" title="{{ page.RAVAGEUR-espece3 }}" ></a> 
        </td>{% endif %}
        

        </tr>

        <tr>
         {% if page.ravageur1 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur1 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom1 }} </em></span></em>
         </td>{% endif %}

         {% if page.ravageur2 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur2 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom2 }} </em> </span></em>
         </td>{% endif %} 
        
         {% if page.ravageur3 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur3 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom3 }} </em> </span></em>
         </td>{% endif %} 
        </tr>
 <tr>
		<td class="style12" > </td>
	</tr>

	</table>


<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    
        <tr> 
          {% if page.ravageur4 %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur4 }} ">
          <img class="center" src="{{ page.imgravageur4 }}" alt="{{ page.RAVAGEUR-espece4 }}" 
           title="{{ page.RAVAGEUR-espece4 }}" />
          </td>{% endif %}
         
          {% if page.ravageur5 and page.RAVAGEUR-espece5 and page.RAVAGEUR-espece5 and page.imgravageur5 %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur5 }} ">
          <img class="center" src="{{ page.imgravageur5 }}" alt="{{ page.RAVAGEUR-espece5 }}" 
          title="{{ page.RAVAGEUR-espece5 }}" />
          </td>{% endif %}

          {% if page.ravageur6 %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur6 }} ">
          <img class="center" src="{{ page.imgravageur6 }}" alt="{{ page.RAVAGEUR-espece6 }}" 
          title="{{ page.RAVAGEUR-espece6 }}" />
          </td>{% endif %}

        </tr>

        <tr>
         {% if page.ravageur4 and page.RAVAGEURnom4 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur4 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom4 }} </em></span></em>
         </td>{% endif %}

         {% if page.ravageur5 and page.RAVAGEURnom5 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur5 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom5 }} </em> </span></em>
         </td>{% endif %} 
        
         {% if page.ravageur6 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur6 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom6 }} </em> </span></em>
         </td>{% endif %} 

        </tr>

 
<table align="center"  style="width: 800px">     
    
    <tr>
		<td class="style12"></td>
    </tr>
    
        <tr> 
          {% if page.ravageur7  %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur7 }} ">
          <img class="center" src="{{ page.imgravageur7 }}" alt="{{ page.RAVAGEUR-espece7 }}" 
           title="{{ page.RAVAGEUR-espece7 }}" />
          </td>{% endif %}
         
          {% if page.ravageur8 %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur8 }} ">
          <img class="center" src="{{ page.imgravageur8 }}" alt="{{ page.RAVAGEUR-espece8 }}" 
          title="{{ page.RAVAGEUR-espece8 }}" />
          </td>{% endif %}

          {% if page.ravageur9 %}
          <td class="style7" style="width: 240px">
          <a href=" {{ page.ravageur9 }} ">
          <img class="center" src="{{ page.imgravageur9 }}" alt="{{ page.RAVAGEUR-espece9 }}" 
          title="{{ page.RAVAGEUR-espece9 }}" />
          </td>{% endif %}

        </tr>

        <tr>
         {% if page.ravageur7 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur7}} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom7 }} </em></span></em>
         </td>{% endif %}

         {% if page.ravageur8  %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur8 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom8 }} </em> </span></em>
         </td>{% endif %} 
        
         {% if page.ravageur9 %}
         <td class="style7" style="width: 240px">
         <a  href=" {{ page.ravageur9 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.RAVAGEURnom9 }} </em> </span></em>
         </td>{% endif %} 

        </tr>


    <tr>
		<td class="style12" > </td>
	</tr>

	</table>

<p class="style8"></p>


{{ content }}




	<table align="center" style="width: 900px">
	
    {% if page.floreimg1  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg1 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.lieu-date1 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date1 }}</span></td>
	</tr>{% endif %}







   {% if page.floreimgA %}
        <tr>
        
        <td class="style9">
       
         <table>

       
            <tr> 
          <td>
           <img class="center" src="{{ page.floreimgA }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}"/>
             
              </td>
         <td><img class="center" src="{{ page.floreimgB }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" /></td>
                
        </tr>

       
        <tr>
        <td>
         

            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateA }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateB }}</span></td> 
        </tr>

        </table>

    </td>
    </tr>{% endif %}




    {% if page.floreimg2  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg2 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.lieu-date2 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
         

{% if page.floreimg3 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg3 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date3 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}
    
   {% if page.floreimg4 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg4 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date4 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
     
        

   {% if page.floreimgC %}
        <tr>
        
        <td class="style9">
       
         <table>

       
            <tr> 
          <td>
           <img class="center" src="{{ page.floreimgC }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}"/>
             
              </td>
         <td><img class="center" src="{{ page.floreimgD }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" /></td>
                
        </tr>

       
        <tr>
        <td>
         

            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateC }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateD }}</span></td> 
        </tr>

        </table>

    </td>
    </tr>{% endif %}


         
         
{% if page.floreimgE  %}
  <tr>
        
        <td class="style9">
      

         <table>

      
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgE }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgF }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>

     
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateE }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateF }}</span></td> 
        </tr>

        </table>
    </td>
    </tr>{% endif %}

      
  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgG and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece and page.floreimgH and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgG }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgH }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateG and page.lieu-dateH  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateG }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateH }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>

 

    {% if page.floreimg5 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg5 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.floreimg6 and page.FLOREespece and page.Auteurespece and page.FLOREespece and page.Auteurespece %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg6 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}



  <tr>
        
        <td class="style9">
      

         <table>

      {% if page.floreimgI  %}
        <tr> 
          <td>
           <img class="center" src="{{ page.floreimgI }}" 
              alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.floreimgJ }}"
             alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" title="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
             /></td>
        </tr>{% endif %}

      {% if page.FLOREespece and page.lieu-dateI and page.lieu-dateJ  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateI }}</span></td>
           <td><em><span class="style9">{{ page.FLOREespece }}</span></em><span class="style9"> {{ page.lieu-dateJ }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>



 {% if page.floreimg7  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg7 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date7 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date7 }}</span></td>
	</tr>{% endif %}

{% if page.floreimg8  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg8 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date8 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date8 }}</span></td>
	</tr>{% endif %}

{% if page.floreimg9  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg9 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date9 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date9 }}</span></td>
	</tr>{% endif %}

  {% if page.floreimg10  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg10 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date10 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date10 }}</span></td>
	</tr>{% endif %}


  {% if page.floreimg11  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg11 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date11 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date11 }}</span></td>
	</tr>{% endif %}



  {% if page.floreimg12  %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.floreimg12 }}" alt="{{ page.FLOREespece }} {{ page.Auteurespece }}" 
            title="{{ page.FLOREespece }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}

 {% if page.FLOREespece and page.lieu-date12 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.FLOREespece }}</span></em><span 
            class="style9"> {{ page.lieu-date12 }}</span></td>
	</tr>{% endif %}



</table>



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
