---
layout: default
title: 
---
<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.GALLES }}</td>
	</tr>
</table>

<table align="center" class="style17" style="width: 800px">
	
    {% if page.fami-galles %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-galles }} </em></div></td>
	</tr>{% endif %}

       
	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.galles-nbrespece %}
	<tr>
		<td class="style12"><div> {{page.galles-nbrespece }}</div> </td>
	</tr>{% endif %}

    {% if page.galles-Crete %}
	<tr>
		<td class="style12"><div> {{ page.galles-Crete }} </div> </td>
	</tr>{% endif %}

    {% if page.galles-Belgique %}
    <tr>
		<td class="style12"><div> {{ page.galles-Belgique }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.galles-note %}
    <tr>
		<td class="style12"><div> {{ page.galles-note }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>
    {% if page.galles-note1 %}
    <tr>
		<td class="style12"><div> {{ page.galles-note1 }} </div></td>
	</tr>{% endif %}
    
   
    {% if page.galles-note2 %}
    <tr>
		<td class="style12"><div> {{ page.galles-note2 }} </div></td>
	</tr>{% endif %}


   {% if page.galles-note3 %}
    <tr>
		<td class="style12"><div> {{ page.galles-note3 }} </div></td>
	</tr>{% endif %}

    {% if page.galles-note4 %}
    <tr>
		<td class="style12"><div> {{ page.galles-note4 }} </div></td>
	</tr>{% endif %}

    {% if page.galles-obs %}
    <tr>
		<td class="style12"><div> {{ page.galles-obs }} </div></td>
	</tr>{% endif %}

   {% if page.galles-REF %}
    <tr>
		<td class="style12"><div> {{ page.galles-REF }} </div></td>
	</tr>{% endif %}

</table>

<p class="style8"></p>

{% if page.galles.genre %}
<table align="center" class="style17" style="width: 800px">
	
    
    <tr>
     {% if page.galles-genre %}
	<td class="style12"><div>{{ page.galles-genre }}</div></td>

	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

	<tr>
     {% if page.galles-genre1 %}
		<td class="style12"><div>{{ page.galles-genre1 }}</div></td>
	</tr>{% endif %}

	<tr>
		{% if page.galles-genre2 %}
		<td class="style12"><div>{{ page.galles-genre2 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.galles-genre3 %}
		<td class="style12"><div>{{ page.galles-genre3 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.galles-genre4 %}
		<td class="style12"><div>{{ page.galles-genre4 }}</div></td>
	</tr>{% endif %}
    
    <tr>
		{% if page.galles-genre5 %}
		<td class="style12"><div>{{ page.galles-genre3 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.galles-genre6 %}
		<td class="style12"><div>{{ page.galles-genre4 }}</div></td>
	</tr>{% endif %}
</table>{% endif %}



{{ content }}



<table align="center"  style="width: 960px">
	
      <tr>
    {% if page.galles-tribe1  %}
		<td class="style11"> {{ page.galles-tribe1 }} </td>
       {% endif %}
    
      </tr>
    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12" >{{ page.descr1-galles-tribe1 }} </td>
	</tr>
    <tr>
		<td class="style12" >{{ page.descr2-galles-tribe1 }} </td>
	</tr>

</table>



<table align="center"  style="width: 960px">  
    <tr>
         {% if page.HREF-espece1 and page.GALLEspecies1 and page.GALLEspecies1 and page.gallesimg1 %}
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece1 }} ">
		<img src="{{ page.gallesimg1 }}" alt="{{ page.GALLEspecies1 }}" title="{{ page.GALLEspecies1 }}" ></a> 
        </td>{% endif %}
		
        {% if page.HREF-espece2 and page.gallesimg2 and page.GALLEspecies2 and page.GALLEspecies2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece2 }}">
		<img src="{{ page.gallesimg2 }}" alt="{{ page.GALLEspecies2 }}" title="{{ page.GALLEspecies2 }}" ></a>
        </td> {% endif %}
        
        
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece3 }} ">
		<img  src="{{ page.gallesimg3 }}" alt="{{ page.GALLEspecies3 }}" title="{{ page.GALLEspecies3 }}" ></a> 
        </td>
        
        {% if page.HREF-espece4 and page.gallesimg4 and page.GALLEspecies4 and page.GALLEspecies4 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece4 }}">
		<img  src="{{ page.gallesimg4 }}" alt="{{ page.GALLEspecies4 }}" title="{{ page.GALLEspecies4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		<td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece1 }}" style="text-decoration:none"> 
		 {{ page.gallesespece1 }} </a></td>

        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece2 }}" style="text-decoration:none">
              {{ page.gallesespece2 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece3 }}" style="text-decoration:none">
             {{ page.gallesespece3 }} </a></td>
        
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece4 }}" style="text-decoration:none">
           {{ page.gallesespece4 }} </a></td>
	</tr>
  </table>

<p class="style8"></p>


{% if page.galles-tribe2  %}    
<table align="center"  style="width: 960px">
	{% if page.galles-tribe2  %}
      <tr>
      
		<td class="style11"> {{ page.galles-tribe2 }} </td>
        
    </tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12" >{{ page.descr1-galles-tribe2 }} </td>
	</tr>
    <tr>
		<td class="style12" >{{ page.descr2-galles-tribe2 }} </td>
	</tr>
</table>{% endif %}
   

{% if page.HREF-espece5  %} 
  <table align="center"  style="width: 960px">     
    <tr>
         
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece5 }} ">
		<img src="{{ page.gallesimg5 }}" alt="{{ page.GALLEspecies5 }}" title="{{ page.GALLEspecies5 }}" ></a> 
        </td>
		
       
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece6 }}">
		<img src="{{ page.gallesimg6 }}" alt="{{ page.GALLEspecies6 }}" title="{{ page.GALLEspecies6 }}" ></a>
        </td>
        
        
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece7 }} ">
		<img  src="{{ page.gallesimg7 }}" alt="{{ page.GALLEspecies7 }}" title="{{ page.GALLEspecies7 }}" ></a> 
        </td>
        
        
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece8 }}">
		<img  src="{{ page.gallesimg8 }}" alt="{{ page.GALLEspecies8 }}" title="{{ page.GALLEpecies8 }}" ></a>
        </td>

       </tr>


	<tr>
		<td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece5 }}" style="text-decoration:none"> 
		 {{ page.gallesespece5 }} </a></td>

        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece6 }}" style="text-decoration:none">
             {{ page.gallesespece6 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece7 }}" style="text-decoration:none">
            {{ page.gallesespece7 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece8 }}" style="text-decoration:none">
            {{ page.gallesespece8 }} </a></td>
	</tr>
  </table>  {% endif %}
    
<p class="style8"></p>

{% if page.galles-tribe3  %}    
 <table align="center"  style="width: 960px">
	
      <tr>
     
		<td class="style11"> {{ page.galles-tribe3 }} </td>
        
    </tr>

</table>{% endif %}


{% if page.HREF-espece9  %} 
<table align="center" style="width: 960px">

       <tr>
        
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece9 }} ">
		<img src="{{ page.gallesimg9 }}" alt="{{ page.GALLEspecies9 }}" title="{{ page.GALLEspecies9 }}" ></a> 
        </td>
		
        
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece10 }}">
		<img src="{{ page.gallesimg10 }}" alt="{{ page.GALLEspecies10 }}" title="{{ page.GALLEspecies10 }}" ></a>
        </td> 
        
        {% if page.HREF-espece11 and page.gallesimg11 and page.GALLEspecies11 and page.GALLEspecies11 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece11 }} ">
		<img  src="{{ page.gallesimg11 }}" alt="{{ page.GALLEspecies11 }}" title="{{ page.GALLEspecies11 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece12 and page.gallesimg12 and page.GALLEspecies12 and page.GALLEspecies12 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece12 }}">
		<img  src="{{ page.gallesimg12 }}" alt="{{ page.GALLEspecies12 }}" title="{{ page.GALLEspecies12 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		<td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece9 }}" style="text-decoration:none"> 
		 {{ page.gallesespece9 }} </a></td>

        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece10 }}" style="text-decoration:none">
              {{ page.gallesespece10 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece11 }}" style="text-decoration:none">
             {{ page.gallesespece11 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece12 }}" style="text-decoration:none">
             {{ page.gallesespece12 }} </a></td>
	</tr>



    </table>{% endif %}

<p class="style8"></p>

    
{% if page.galles-tribe4  %}
<table align="center"  style="width: 960px">
	
      <tr>
     {% if page.galles-tribe4  %}
		<td class="style11"> {{ page.galles-tribe4 }} </td>
        {% endif %}
    </tr>

</table>{% endif %}


{% if page.HREF-espece13  %}
<table align="center" style="width: 960px">

      <tr>
         {% if page.HREF-espece13 and page.GALLEspecies13 and page.GALLEspecies13 and page.gallesimg13 %}
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece13 }} ">
		<img src="{{ page.gallesimg13 }}" alt="{{ page.GALLEspecies13 }}" title="{{ page.GALLEspecies13 }}" ></a> 
        </td>{% endif %}
		
        {% if page.HREF-espece14 and page.gallesimg14 and page.GALLEspecies14 and page.GALLEspecies14 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece14 }}">
		<img src="{{ page.gallesimg14 }}" alt="{{ page.GALLEspecies14 }}" title="{{ page.GALLEspecies14 }}" ></a>
        </td> {% endif %}
        
        {% if page.HREF-espece15 and page.gallesimg15 and page.GALLEspecies15 and page.FAUNEspecies15 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece15 }} ">
		<img  src="{{ page.gallesimg15 }}" alt="{{ page.GALLEspecies15 }}" title="{{ page.GALLEspecies15 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece16 and page.gallesimg16 and page.GALLEspecies16 and page.GALLEspecies16 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece16 }}">
		<img  src="{{ page.gallesimg16 }}" alt="{{ page.GALLEspecies16 }}" title="{{ page.GALLEspecies16 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		<td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece13 }}" style="text-decoration:none"> 
		 {{ page.gallesespece13 }} </a></td>

        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece14 }}" style="text-decoration:none">
             {{ page.gallesespece14 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece15 }}" style="text-decoration:none">
             {{ page.gallesespece15 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece16 }}" style="text-decoration:none">
             {{ page.gallesespece16 }} </a></td>
	</tr>
    </table>{% endif %}
    
     



<p class="style8"></p>

<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
