---
layout: default
title: " "
---

<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14"> <em>{{ page.ESPECE }}</em> {{ page.Auteurespece }} {{ page.variete }} {{ page.Auteurvariete }} </td>
	</tr>
</table>



<p class="style8"></p>

<table align="center" class="style17" style="width: 800px">

	<tr>
		<td class="style12" style="width: 40px"> {{ page.phrygananbr }} </td>

		<td class="style12" style="width: 80px">Galles </td>

        {% if page.ORDER %}
		<td class="style12" style="width: 140px"> 
        <a href='../{{ page.ORDER }}.html'<strong>{{page.ORDER}}</strong></a>
        </td>{% endif %}
        
        {% if page.ORDERFungi %}
        <td class="style12" style="width: 140px"> 
        <a href='/Galles/{{page.ORDERFungi}}/{{page.ORDERFungi}}.html'<strong>{{page.ORDERFungi}}</strong></a>
        </td>{% endif %}

        {% if page.ORDERFAUNE %}
        <td class="style12" style="width: 140px"> 
        <a href='/Fauna/{{page.ORDERFAUNE}}/{{page.ORDERFAUNE}}.html'<strong>{{page.ORDERFAUNE}}</strong></a>
        </td>{% endif %}

        {% if page.FAMILLE %}
        <td class="style12" style="width: 140px" >
            <a href='../{{page.FAMILLE}}.html' <strong>{{page.FAMILLE}}</strong></a> </td>{% endif %}

        <td class="style12" style="width: 160px">{{ page.sousfamille }}</td>

        <td class="style12" style="width: 300px"><em>{{ page.GENRE }}</em> {{ page.AUTEURgenre }}</td>
	</tr>
     </table>


   <table align="center" style="width: 880px">
	<tr>
        <td class="style9">
		<img src="{{ page.img0 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span 
            class="style9"> {{ page.lieu-date0 }}</span></td>
	</tr>
</table>


<table align="center" class="style17" style="width: 800px">
	
    {% if page.Synonyme %}
    <tr>
		<td class="style12"> syn.: {{ page.Synonyme }} </td>
	</tr>{% endif %}
	<tr>
		<td class="style12"> </td>
	</tr>
	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.nom-commun %}
    <tr>
		<td class="style12" ><strong>Nom commun</strong>: {{ page.nom-commun }} </td>
	</tr>{% endif %}
    
    <tr>
		<td class="style12"></td>
	</tr>

     
    {% if page.description-adulte %}
	<tr>
		<td class="style12" ><div><strong>Adulte</strong>:  {{ page.description-adulte }} </div></td>
	</tr>{% endif %}

    
    <tr>
		<td class="style12"></td>
	</tr>
        <tr>
		<td class="style12"></td>
	</tr>
    

    {% if page.Biologie %}
    <tr>
		<td class="style12" ><div><strong>Biologie:</strong> {{ page.Biologie }} </div> </td>
	</tr>{% endif %}


    {% if page.descr-dispersion %}
    <tr>
		<td class="style12" ><div><strong>Dispersion</strong>: {{ page.descr-dispersion }}  </div> </td>    
    </tr>{% endif %}



	<tr>
		<td class="style12"> </td>
	</tr>
    
    {% if page.Regime-alimentaire %}
	<tr>
		<td class="style12"><div><strong>Régime alimentaire:</strong>  {{ page.Regime-alimentaire }} </div></td>
	</tr>{% endif %}
   
	      
    <tr>
		<td class="style12"></td>
	</tr>
        <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.PeriodevolCrete %}
    <tr>
		<td class="style12"><div><strong>Période de vol en Crète:</strong>  {{ page.PeriodevolCrete }} </div> </td>
	</tr>{% endif %}

    {% if page.Periodevol %}
    <tr>
		<td class="style12"><div><strong>Période de vol hors Crète:</strong>  {{ page.Periodevol }} </div> </td>
	</tr>{% endif %}


    {% if page.IndigenatCrete %}
	<tr>
		<td class="style12" ><strong>Statut: --- Crète:</strong> {{ page.IndigenatCrete }} </td>
	</tr>{% endif %}

    {% if page.IndigenatBelgium %}
	<tr>
		<td class="style12" ><strong>Statut: --- Belgique:</strong> {{ page.IndigenatBelgium }} </td>
	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Altitudes %}
	<tr>
		<td class="style12" ><strong>Altitudes</strong> (en Crète): {{ page.Altitudes }} </td>
	</tr>{% endif %}

    {% if page.Altitudes1 %}
	<tr>
		<td class="style12" ><strong>Altitudes</strong> (hors de la Crète): {{ page.Altitudes1 }} </td>
	</tr>{% endif %}

    {% if page.BiotopesCrete %}
	<tr>
		<td class="style12" ><div><strong>Biotopes en Crète:</strong> {{ page.BiotopesCrete }} </div></td>
	</tr>{% endif %}

     {% if page.Biotopesgeneral %}
	<tr>
		<td class="style12" ><strong>Biotopes (hors de la Crète):</strong> {{ page.Biotopesgeneral }} </td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>

    <tr>
		<td class="style12"></td>
	</tr>
  
    {% if page.Origine %}
    <tr>
		<td class="style12"><strong>Origine:</strong>  {{ page.Origine }}</td>
	</tr>{% endif %}

    {% if page.Distribution %}
	<tr>
		<td class="style12" ><strong>Distribution:</strong> {{ page.Distribution }}</td>
	</tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>
     
                 
    {% if page.Note1 %}
    <tr>
		<td class="style12">--- {{ page.Note1 }}</td>
	</tr>{% endif %}

              
    {% if page.Note2 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note2 }} </div></td>
	</tr>{% endif %}
              
    {% if page.Note3 %}
    <tr>
		<td class="style12"><div>--- {{ page.Note3 }} </div></td>
	</tr>{% endif %}
  
    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.OBSERVATION %}
    <tr>
		<td class="style12" ><div>OBS. --- {{ page.OBSERVATION }}  </div> </td>    
    </tr>{% endif %}
    

    {% if page.OBS1 %}
    <tr>
		<td class="style12" ><div>OBS. --- {{ page.OBS1 }}  </div> </td>    
    </tr>{% endif %}


    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.OBS2 %}
    <tr>
		<td class="style12" ><div>OBS. --- {{ page.OBS2 }}  </div> </td>    
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>
	
    {% if page.Listerouge %}
    <tr>
		<td class="style12" ><div><strong>Liste rouge</strong>: {{ page.Listerouge }}  </div> </td>    
    </tr>{% endif %}
         
    <tr>
		<td class="style12"></td>

	</tr>
    {% if page.Utilite %}
    <tr>
		<td class="style12" ><div><strong>Utilité</strong>: {{ page.Utilite }}  </div> </td>    
    </tr>{% endif %}
    {% if page.Utilite1 %}
    <tr>
		<td class="style12" ><div><strong>Utilité</strong>: {{ page.Utilite1 }}  </div> </td>    
    </tr>{% endif %} 
    <tr>
		<td class="style12"></td>
	</tr>

    {% if page.Nuisance %}
    <tr>
		<td class="style12" ><div><strong>Nuisance</strong>: {{ page.Nuisance }}  </div> </td>    
    </tr>{% endif %}
     <tr>
		<td class="style12"></td>
	</tr>

	</table>


<p class="style8"></p>

{% if page.Galle-Mine %}
	<table align="center" class="style17" style="width: 800px">
    
    <tr>
		<td class="style12" > </td>
	</tr>

   

	<tr>
		<td class="style12" > </td>
	</tr>
    <tr>
		<td class="style7" > {{ page.Galle-Mine }}   </td> 
	</tr>
    <tr>
		<td class="style12" > </td>
	</tr>
    
    <tr>
		<td class="style12" ><div>--- {{ page.Descr-Galle-Mine }}  </div>  </td>
	</tr>

     <tr>
		<td class="style12" > </td>
	</tr>

    <tr>
		<td class="style12" ><div>--- Parties de la plante attaquées: {{ page.descr-ORGANES }}  </div> </td> 
	</tr>

        <tr>
		<td class="style12" > </td>
	</tr>



    <tr>
		<td class="style12" ><div>--- Plantes-hôtes: {{ page.plante }}  </div> </td> 
	</tr>


        {% if page.plante1 %}
        <tr>
        
        <td class="style9">
      
         <table>

      
        <tr> 
          <td>
          <a href=" {{ page.plante1 }} ">
          <img class="center" src="{{ page.imgplante1 }}" alt="{{ page.PLANTE-espece1 }}" 
           title="{{ page.PLANTE-espece1 }}" />
          </td>
         
          <td>
          <a href=" {{ page.plante2 }} ">
          <img class="center" src="{{ page.imgplante2 }}" alt="{{ page.PLANTE-espece2 }}" 
          title="{{ page.PLANTE-espece2 }}" />
          </td>

          <td>
          <a href=" {{ page.plante3 }} ">
          <img class="center" src="{{ page.imgplante3 }}" alt="{{ page.PLANTE-espece3 }}" 
          title="{{ page.PLANTE-espece3 }}" />
          </td>

        </tr>

        <tr>
         <td>
         <a  href=" {{ page.plante1 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom1 }} </em></span></em>
         </td>

         <td>
         <a  href=" {{ page.plante2 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom2 }} </em> </span></em>
         </td> 
        

         <td>
         <a  href=" {{ page.plante3 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom3 }} </em> </span></em>
         </td> 

        </tr>

        <tr> 
          <td>
          <a href=" {{ page.plante4 }} ">
          <img class="center" src="{{ page.imgplante4 }}" alt="{{ page.PLANTE-espece4 }}" 
           title="{{ page.PLANTE-espece4 }}" />
          </td>
         
          <td>
          <a href=" {{ page.plante5 }} ">
          <img class="center" src="{{ page.imgplante5 }}" alt="{{ page.PLANTE-espece5 }}" 
          title="{{ page.PLANTE-espece5 }}" />
          </td>

          <td>
          <a href=" {{ page.plante6 }} ">
          <img class="center" src="{{ page.imgplante6 }}" alt="{{ page.PLANTE-espece6 }}" 
          title="{{ page.PLANTE-espece6 }}" />
          </td>

        </tr>

        <tr>
         <td>
         <a  href=" {{ page.plante4 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom4 }} </em></span></em>
         </td>

         <td>
         <a  href=" {{ page.plante5 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom5 }} </em> </span></em>
         </td> 
        

         <td>
         <a  href=" {{ page.plante6 }} " style="text-decoration:none">
         <em><span class="style7"><em> {{ page.PLANTEnom6 }} </em> </span></em>
         </td> 

        </tr>


        </table>
    </td>
    </tr>{% endif %}

    <tr>
		<td class="style12"></td>
	</tr>


        {% if page.obs1 %}
        <tr>
		<td class="style12" ><div>OBS. --- {{ page.obs1 }}  </div> </td> 
	    </tr>{% endif %}

         {% if page.obs2 %}
        <tr>
		<td class="style12" ><div>OBS. --- {{ page.obs2 }}  </div> </td>
        </tr>{% endif %}

    <tr>
		<td class="style12" > </td>
	</tr>

    <tr>
		<td class="style12" > </td>
	</tr>

	</table>{% endif %}



{{ content }}

<table align="center" style="width: 900px">
	
       {% if page.img1 %}
    <tr>
        <td class="style9" >
		<img  class="center" src="{{ page.img1 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
             title="{{ page.ESPECE }} {{ page.Auteurespece }}"> 
        </td>{% endif %}
    </tr>


    {% if page.ESPECE and page.lieu-date1 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date1 }}</span>
        </td>{% endif %}
	</tr>

      <tr>
        <td>
        
       
    <table>

      {% if page.imgA  %}
        <tr> 
          <td>
           <img class="center" src="{{ page.imgA }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
               title="{{ page.ESPECE }} {{ page.Auteurespece }}" />
         </td>
         <td><img class="center" src="{{ page.imgB }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
             title="{{ page.ESPECE }} {{ page.Auteurespece }}" /></td>
        </tr>{% endif %}

      {% if page.ESPECE and page.lieu-dateA and page.lieu-dateB  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-dateA }}</span></td>
           <td><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-dateB }}</span></td> 
        </tr>{% endif %}

        </table>
    </td>
    </tr>


    {% if page.img2 %}
    <tr>
        <td class="style9" >
		<img class="center" src="{{ page.img2 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
             title="{{ page.ESPECE }} {{ page.Auteurespece }}"> </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date2 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date2 }}</span></td>
	</tr>{% endif %}
    
    {% if page.img3 %}     
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.img3 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date3 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date3 }}</span></td>
	</tr>{% endif %}
    
       <tr>
        
        <td class="style9">
       
         <table>

       {% if page.imgC  %}
            <tr> 
          <td>
           <img class="center" src="{{ page.imgC }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
               title="{{ page.ESPECE }} {{ page.Auteurespece }}"/>
         </td>
         <td><img class="center" src="{{ page.imgD }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
              title="{{ page.ESPECE }} {{ page.Auteurespece }}" /></td>
        </tr>{% endif %}

       {% if page.ESPECE and page.lieu-dateC and page.lieu-dateD  %} 
        <tr>
        <td>
         
            <em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-dateC }}</span></td>
           <td><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-dateD }}</span></td> 
        </tr>{% endif %}


        </table>
    </td>
    </tr>



    {% if page.img4 %}  
    <tr>
        <td class="style9">
		<img class="center" src="{{ page.img4 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date4 %}   
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date4 }}</span></td>
	</tr>{% endif %}
   
    {% if page.img5 %}
    <tr>
        <td class="style9">
		<img src="{{ page.img5 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date5 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date5 }}</span></td>
	</tr>{% endif %}

    {% if page.img6 %}
    <tr>
        <td class="style9">
		<img src="{{ page.img6 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date6 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date6 }}</span></td>
	</tr>{% endif %}

     {% if page.img7 %}
    <tr>
        <td class="style9">
		<img src="{{ page.img7 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date7 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date7 }}</span></td>
	</tr>{% endif %}

     {% if page.img8 %}
    <tr>
        <td class="style9">
		<img src="{{ page.img8 }}" alt="{{ page.ESPECE }} {{ page.Auteurespece }}" 
            title="{{ page.ESPECE }} {{ page.Auteurespece }}" > </td>
    </tr>{% endif %}
    
    {% if page.ESPECE and page.lieu-date8 %}
    <tr>
        <td class="style9"><em><span class="style9">{{ page.ESPECE }}</span></em><span class="style9"> {{ page.lieu-date8 }}</span></td>
	</tr>{% endif %}


</table>



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

