---
layout: default

---

<p class="style8"></p>


{% if page.Titre %}
    <table align="center" style="width: 800px">
	<tr>
		<td class="style14">{{ page.Titre }}</td>
	</tr>
    </table>{% endif %}


<p class="style8"></p>

{% if page.fami-tribe1  %}
<table align="center"  style="width: 960px">
	
      <tr>
     
		<td class="style11"> {{ page.fami-tribe1 }} </td>
        
    </tr>
    
      <tr>
		<td class="style12"></td>
    </tr>

 <tr>
		<td class="style12"></td>
    </tr> 
    <tr>
		<td class="style12"></td>
    </tr>
 <tr>
		<td class="style12"></td>
     </tr>


    
     <tr>
        
        {% if page.Famille1 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Famille1 }} ">
		<img src="{{ page.familleimg1 }}" alt="{{ page.FAMILLE-Espece1 }}" title="{{ page.FAMILLE-Espece1 }}"    ></a> 
        </td>{% endif %}
		
        {% if page.Famille2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Famille2 }}">
		<img src="{{ page.familleimg2 }}" alt="{{ page.FAMILLE-Espece2 }}" title="{{ page.FAMILLE-Espece2 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille3 }}">
		<img  src="{{ page.familleimg3 }}" alt="{{ page.FAMILLE-Espece3 }}" title="{{ page.FAMILLE-Espece3 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille4  %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille4 }}">
		<img  src="{{ page.familleimg4 }}" alt="{{ page.FAMILLE-Espece4 }}" title="{{ page.FAMILLE-Espece4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Famille1 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille1 }}" style="text-decoration:none"> 
		 {{ page.famixx-1 }} </a></td>{% endif %}

        {% if page.Famille2 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille2 }}" style="text-decoration:none">
              {{ page.famixx-2 }} </a></td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille3 }}" style="text-decoration:none">
             {{ page.famixx-3}} </a></td>{% endif %}
        
        {% if page.Famille4 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille4 }}" style="text-decoration:none">
             {{ page.famixx-4 }} </a></td>{% endif %}
	</tr>
   
 </table>{% endif %}


{% if page.fami-tribe2  %}
<table align="center"  style="width: 800px">
	
      <tr>
     
		<td class="style11"> {{ page.fami-tribe2 }} </td>
        
    </tr>
    
      <tr>
		<td class="style12"></td>
    </tr>

 <tr>
		<td class="style12"></td>
    </tr> 
    <tr>
		<td class="style12"></td>
    </tr>
 <tr>
		<td class="style12"></td>
     </tr>


    
     <tr>
        
        {% if page.Famille1 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.Famille1 }} ">
		<img src="{{ page.familleimg1 }}" alt="{{ page.FAMILLE-Espece1 }}" title="{{ page.FAMILLE-Espece1 }}"    ></a> 
        </td>{% endif %}
		
        {% if page.Famille2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.Famille2 }}">
		<img src="{{ page.familleimg2 }}" alt="{{ page.FAMILLE-Espece2 }}" title="{{ page.FAMILLE-Espece2 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille3 }}">
		<img  src="{{ page.familleimg3 }}" alt="{{ page.FAMILLE-Espece3 }}" title="{{ page.FAMILLE-Espece3 }}" ></a>
        </td>{% endif %}
        
        {% if page.Famille4  %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.Famille4 }}">
		<img  src="{{ page.familleimg4 }}" alt="{{ page.FAMILLE-Espece4 }}" title="{{ page.FAMILLE-Espece4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.Famille1 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille1 }}" style="text-decoration:none"> 
		 {{ page.famixx-1 }} </a></td>{% endif %}

        {% if page.Famille2 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille2 }}" style="text-decoration:none">
              {{ page.famixx-2 }} </a></td>{% endif %}
        
        {% if page.Famille3 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille3 }}" style="text-decoration:none">
             {{ page.famixx-3}} </a></td>{% endif %}
        
        {% if page.Famille4 %}
        <td class="style7" style="width: 240px">
		<a class="Famille" href="{{ page.Famille4 }}" style="text-decoration:none">
             {{ page.famixx-4 }} </a></td>{% endif %}
	</tr>
   
 </table>{% endif %}



<table align="center" style="width: 800px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>

