---
layout: default
title: 
---
<p class="style8"></p>

<table align="center" style="width: 600px">
	<tr>
		<td class="style14">{{ page.MINES }}</td>
	</tr>
</table>

<table align="center" class="style17" style="width: 800px">
	
    {% if page.fami-mines %}
    <tr>
		<td class="style13"><div><em> {{ page.fami-mines }} </em></div></td>
	</tr>{% endif %}

       
	<tr>
		<td class="style12"></td>
	</tr>

    {% if page.mines-nbrespece %}
	<tr>
		<td class="style12"><div> {{page.mines-nbrespece }}</div> </td>
	</tr>{% endif %}

    {% if page.mines-Crete %}
	<tr>
		<td class="style12"><div> {{ page.mines-Crete }} </div> </td>
	</tr>{% endif %}

    {% if page.mines-Belgique %}
    <tr>
		<td class="style12"><div> {{ page.mines-Belgique }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    
    {% if page.mines-note %}
    <tr>
		<td class="style12"><div> {{ page.mines-note }} </div></td>
	</tr>{% endif %}
    <tr>
		<td class="style12"></td>
    </tr>
    <tr>
		<td class="style12"></td>
    </tr>
    {% if page.mines-note1 %}
    <tr>
		<td class="style12"><div> {{ page.mines-note1 }} </div></td>
	</tr>{% endif %}
    
   
    {% if page.mines-note2 %}
    <tr>
		<td class="style12"><div> {{ page.mines-note2 }} </div></td>
	</tr>{% endif %}


   {% if page.mines-note3 %}
    <tr>
		<td class="style12"><div> {{ page.mines-note3 }} </div></td>
	</tr>{% endif %}

    {% if page.mines-note4 %}
    <tr>
		<td class="style12"><div> {{ page.mines-note4 }} </div></td>
	</tr>{% endif %}

    <p class="style8"></p>
    
    {% if page.mines-obs1 %}
    <tr>
		<td class="style12"><div> {{ page.mines-obs1 }} </div></td>
	</tr>{% endif %}
    {% if page.mines-obs1 %}
    <tr>
		<td class="style12"><div> {{ page.mines-obs }} </div></td>
	</tr>{% endif %}

   {% if page.mines-REF %}
    <tr>
		<td class="style12"><div> {{ page.mines-REF }} </div></td>
	</tr>{% endif %}

</table>

<p class="style8"></p>

{% if page.mines.genre %}
<table align="center" class="style17" style="width: 800px">
	
    
    <tr>
     {% if page.mines-genre %}
	<td class="style12"><div>{{ page.mines-genre }}</div></td>

	</tr>{% endif %}

    <tr>
		<td class="style12"></td>
    </tr>

	<tr>
     {% if page.mines-genre1 %}
		<td class="style12"><div>{{ page.mines-genre1 }}</div></td>
	</tr>{% endif %}

	<tr>
		{% if page.mines-genre2 %}
		<td class="style12"><div>{{ page.mines-genre2 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.mines-genre3 %}
		<td class="style12"><div>{{ page.mines-genre3 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.mines-genre4 %}
		<td class="style12"><div>{{ page.mines-genre4 }}</div></td>
	</tr>{% endif %}
    
    <tr>
		{% if page.mines-genre5 %}
		<td class="style12"><div>{{ page.mines-genre3 }}</div></td>
	</tr>{% endif %}

    <tr>
		{% if page.mines-genre6 %}
		<td class="style12"><div>{{ page.mines-genre4 }}</div></td>
	</tr>{% endif %}
</table>{% endif %}



{{ content }}



<table align="center"  style="width: 960px">
	
      <tr>
    {% if page.mines-tribe1  %}
		<td class="style11"> {{ page.mines-tribe1 }} </td>
       {% endif %}
    
      </tr>
    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12" ><div> {{ page.descr1-mines-tribe1 }}</div> </td>
	</tr>
    <tr>
		<td class="style12" ><div>{{ page.descr2-mines-tribe1 }}</div> </td>
	</tr>

</table>



<table align="center"  style="width: 960px">  
    <tr>
         {% if page.HREF-espece1 and page.MINEspecies1 and page.MINEspecies1 and page.minesimg1 %}
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece1 }} ">
		<img src="{{ page.minesimg1 }}" alt="{{ page.MINEspecies1 }}" title="{{ page.MINEspecies1 }}" ></a> 
        </td>{% endif %}
		
        {% if page.HREF-espece2 and page.minesimg2 and page.MINEspecies2 and page.MINEspecies2 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece2 }}">
		<img src="{{ page.minesimg2 }}" alt="{{ page.MINEspecies2 }}" title="{{ page.MINEspecies2 }}" ></a>
        </td> {% endif %}
        
        {% if page.HREF-espece3 and page.minesimg3 and page.MINEspecies3 and page.MINEspecies3 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece3 }} ">
		<img  src="{{ page.minesimg3 }}" alt="{{ page.MINEspecies3 }}" title="{{ page.MINEspecies3 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece4 and page.minesimg4 and page.MINEspecies4 and page.MINEspecies4 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece4 }}">
		<img  src="{{ page.minesimg4 }}" alt="{{ page.MINEspecies4 }}" title="{{ page.MINEspecies4 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.HREF-espece1 and page.minesespece1 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece1 }}" style="text-decoration:none"> 
		<em> {{ page.minesespece1 }} </em></a></td>{% endif %}

        {% if page.HREF-espece2 and page.minesespece2 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece2 }}" style="text-decoration:none">
         <em>     {{ page.minesespece2 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece3 and page.minesespece3 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece3 }}" style="text-decoration:none">
         <em>    {{ page.minesespece3 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece4 and page.minesespece4 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece4 }}" style="text-decoration:none">
        <em>   {{ page.minesespece4 }} </em></a></td>{% endif %}
	</tr>
  </table>

<p class="style8"></p>


{% if page.mines-tribe2  %}    
<table align="center"  style="width: 960px">
	{% if page.mines-tribe2  %}
      <tr>
      
		<td class="style11"> {{ page.mines-tribe2 }} </td>
        
    </tr>{% endif %}
    <tr>
		<td class="style12"></td>
	</tr>
    <tr>
		<td class="style12" ><div>{{ page.descr1-mines-tribe2 }}</div> </td>
	</tr>
    <tr>
		<td class="style12" ><div>{{ page.descr2-mines-tribe2 }}</div> </td>
	</tr>
</table>{% endif %}
   

{% if page.HREF-espece5  %} 
  <table align="center"  style="width: 960px">     
    <tr>
        
        {% if page.HREF-espece5 and page.minesespece5 %} 
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece5 }} ">
		<img src="{{ page.minesimg5 }}" alt="{{ page.MINEspecies5 }}" title="{{ page.MINEspecies5 }}" ></a> 
        </td>{% endif %}
		
       {% if page.HREF-espece6 and page.minesespece6 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece6 }}">
		<img src="{{ page.minesimg6 }}" alt="{{ page.MINEspecies6 }}" title="{{ page.MINEspecies6 }}" ></a>
        </td>{% endif %}
        
        {% if page.HREF-espece7 and page.minesespece7 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece7 }} ">
		<img  src="{{ page.minesimg7 }}" alt="{{ page.MINEspecies7 }}" title="{{ page.MINEspecies7 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece8 and page.minesespece8 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece8 }}">
		<img  src="{{ page.minesimg8 }}" alt="{{ page.MINEspecies8 }}" title="{{ page.MINEpecies8 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.HREF-espece5 and page.minesespece5 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece5 }}" style="text-decoration:none"> 
		<em> {{ page.minesespece5 }} </em></a></td>{% endif %}

        {% if page.HREF-espece6 and page.minesespece6 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece6 }}" style="text-decoration:none">
         <em>    {{ page.minesespece6 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece7 and page.minesespece7%}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece7 }}" style="text-decoration:none">
         <em>   {{ page.minesespece7 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece8 and page.minesespece8 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece8 }}" style="text-decoration:none">
         <em>   {{ page.minesespece8 }} </em></a></td>{% endif %}
	</tr>
  </table>  {% endif %}
    
<p class="style8"></p>

{% if page.mines-tribe3  %}    
 <table align="center"  style="width: 960px">
	
      <tr>
     
		<td class="style11"> {{ page.mines-tribe3 }} </td>
        
    </tr>

</table>{% endif %}


 
<table align="center" style="width: 960px">

       <tr>
        
        {% if page.HREF-espece9 and page.minesespece9 %}
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece9 }} ">
		<img src="{{ page.minesimg9 }}" alt="{{ page.MINEspecies9 }}" title="{{ page.MINEspecies9 }}" ></a> 
        </td>{% endif %}
		
        {% if page.HREF-espece10 and page.minesimg10 and page.MINEspecies10 and page.MINEspecies10 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece10 }}">
		<img src="{{ page.minesimg10 }}" alt="{{ page.MINEspecies10 }}" title="{{ page.MINEspecies10 }}" ></a>
        </td>{% endif %} 
        
        {% if page.HREF-espece11 and page.minesimg11 and page.MINEspecies11 and page.MINEspecies11 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece11 }} ">
		<img  src="{{ page.minesimg11 }}" alt="{{ page.MINEspecies11 }}" title="{{ page.MINEspecies11 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece12 and page.minesimg12 and page.MINEspecies12 and page.MINEspecies12 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece12 }}">
		<img  src="{{ page.minesimg12 }}" alt="{{ page.MINEspecies12 }}" title="{{ page.MINEspecies12 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		
        {% if page.HREF-espece9 and page.minesespece9 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece9 }}" style="text-decoration:none"> 
		<em> {{ page.minesespece9 }} </em></a></td>{% endif %}

        {% if page.HREF-espece10 and page.minesespece10 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece10 }}" style="text-decoration:none">
         <em>     {{ page.minesespece10 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece11 and page.minesespece11 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece11 }}" style="text-decoration:none">
         <em>    {{ page.minesespece11 }} </em></a></td>{% endif %}
        
        {% if page.HREF-espece12 and page.minesespece12 %}
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece12 }}" style="text-decoration:none">
        <em>     {{ page.minesespece12 }} </em></a></td>{% endif %}
	</tr>



    </table>

<p class="style8"></p>

    
{% if page.mines-tribe4  %}
<table align="center"  style="width: 960px">
	
      <tr>
     {% if page.mines-tribe4  %}
		<td class="style11"> {{ page.mines-tribe4 }} </td>
        {% endif %}
    </tr>

</table>{% endif %}


{% if page.HREF-espece13  %}
<table align="center" style="width: 960px">

      <tr>
         {% if page.HREF-espece13 and page.MINEspecies13 and page.MINEspecies13 and page.minesimg13 %}
		<td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece13 }} ">
		<img src="{{ page.minesimg13 }}" alt="{{ page.MINEspecies13 }}" title="{{ page.MINEspecies13 }}" ></a> 
        </td>{% endif %}
		
        {% if page.HREF-espece14 and page.minesimg14 and page.MINEspecies14 and page.MINEspecies14 %}
		<td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece14 }}">
		<img src="{{ page.minesimg14 }}" alt="{{ page.MINEspecies14 }}" title="{{ page.MINEspecies14 }}" ></a>
        </td> {% endif %}
        
        {% if page.HREF-espece15 and page.minesimg15 and page.MINEspecies15 and page.MINEspecies15 %}
        <td class="style7" style="width: 240px">
		<a href=" {{ page.HREF-espece15 }} ">
		<img  src="{{ page.minesimg15 }}" alt="{{ page.MINEspecies15 }}" title="{{ page.MINEspecies15 }}" ></a> 
        </td>{% endif %}
        
        {% if page.HREF-espece16 and page.minesimg16 and page.MINEspecies16 and page.MINEspecies16 %}
        <td class="style7" style="width: 240px">
		<a href="{{ page.HREF-espece16 }}">
		<img  src="{{ page.minesimg16 }}" alt="{{ page.MINEspecies16 }}" title="{{ page.MINEspecies16 }}" ></a>
        </td>{% endif %}

       </tr>


	<tr>
		<td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece13 }}" style="text-decoration:none"> 
		 {{ page.minesespece13 }} </a></td>

        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece14 }}" style="text-decoration:none">
             {{ page.minesespece14 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece15 }}" style="text-decoration:none">
             {{ page.minesespece15 }} </a></td>
        
        <td class="style7" style="width: 240px">
		<a class="style9" href="{{ page.HREF-espece16 }}" style="text-decoration:none">
             {{ page.minesespece16 }} </a></td>
	</tr>
    </table>{% endif %}
    
     



<p class="style8"></p>

<table align="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
