---
layout: default


---

<p class="style8"></p>

<table class="center0" style="width:600px">

	<tr>
		<td class="style14">{{ page.varia }}</td>
	</tr>
    
</table>




<p class="style8"></p>



<table class="center0" style="width:900px">

<tr>
<td class="style9">
<img src="{{ page.IMAGE0 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date0 }}</span></td>
</tr>

</table>


{% if page.remarque %}
<table class="center" class=table.center style="width: 800px">

<tr>
	<td class="style12"></td>
</tr>




<tr>
	<td class="style12"><div> - - - - - - - - - - - - - - - - - - - -</div></td>
</tr>

<tr>
	<td class="style12"></td>
</tr>
	


<tr>
	<td class="style12"><div> REM. - {{ page.remarque }} </div></td>

	<td class="style12"></td>

</tr>
 
    

<tr>
    <td class="style12"></td>
</tr>

    
  
</table>{% endif %}
  


{{ content }}


<table class="center0" style="width:900px">

{% if page.IMAGE1 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE1 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date1 }}</td>
</tr>{% endif %}

{% if page.IMAGE2 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE2 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date2 }}</td>
</tr>{% endif %}


{% if page.IMAGE3 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE3 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date3 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE4 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE4 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date4 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE5 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE5 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date5 }}</span></td>
</tr>{% endif %}

{% if page.IMAGE6 %}
<tr>
<td class="style9">
<img src="{{ page.IMAGE6 }}" alt="{{ page.LIEU-DIT }}" 
title="{{ page.LIEU-DIT }}" > </td>
</tr>

<tr>
<td class="style9"> {{ page.lieu-date6 }}</span></td>
</tr>{% endif %}

</table>


<table class0="center" style="width: 960px">
	<tr>
		<td class="style5">{{ page.datemaj }}</td>
	</tr>
</table>
